<template>
  <div class="article padding">
    <h1><span class="article__title">{{ article.data[0]?.attributes?.title }}</span></h1>
    <h2 class="article__description">{{ article.data[0]?.attributes?.description }}</h2>
    <div class="article__blocks"></div>
    <Blocks :blocks="article.data[0]?.attributes?.blocks" />
    <div class="article__bottom">
      <p>{{ date }}</p>
      <p v-if="article?.data?.attributes?.author.data">{{ article.data[0].attributes.author.data.attributes.name }}</p>
    </div>
  </div>
</template>

<script setup>
definePageMeta({
  layout: 'article',
});
const i18 = useI18n()
const config = useRuntimeConfig();
const route = useRoute();
const locale = ref(i18.locale.value.substring(0, 2))
const { data: article } = await useAsyncData(
  'article',
  () => $fetch(`api/articles?filters[slug][$eq]=${route.params.slug[0]}&populate=deep&locale=${locale.value}`, {
    method: 'GET',
    baseURL: process.dev ? config.public.API_URL : `${location.origin}/cms`
  })
);

const date = computed(() => {
  let date = Date.parse(article.value.data[0].attributes.publishedAt)
  let dateFormat = new Date(date);
  let day = dateFormat.getDate();
  let month = dateFormat.getMonth();
  let year = dateFormat.getFullYear();
  if (day < 10) {
    day = '0' + day;
  }
  if (month < 10) {
    month = `0${month}`;
  }
  return day + '.' + month + '.' + year
})
</script>

<style lang="scss" scoped>
.article {
  display: flex;
  flex-direction: column;
  position: relative;


  &::before {
    position: absolute;
    content: '';
    right: 0;
    bottom: 0;
    width: 484px;
    height: 71px;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(170deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), var(--color-1)) 0 1 1 0;

    @media (max-width: $mobile) {
      display: none;
    }
  }


  &__title {
    width: fit-content;
    font-size: 48px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    background-position: 0 100%;
    background-size: 100% 3px;
    background-repeat: repeat-x;
    background-image: linear-gradient(90deg, #5A99F6, rgba(0, 0, 0, 0));

    text-decoration: none;
    padding-bottom: 6px;
  }

  &__description {
    padding-top: 8px;
    font-size: 30px;
  }

  &__blocks {
    padding-top: 40px;
  }

  &__bottom {
    display: flex;
    gap: 16px;
    padding-top: 40px;
  }
}
</style>