<template>
  <div class="articles padding">
    <div class="articles__header">
      <h1 class="articles__title">{{ $t('articles.title') }}</h1>
      <div class="articles__icon" @click="filterOpened = !filterOpened">
        <Icon iconName="filter" />
      </div>
    </div>
    <div class="articles__filters" :class="{ active: filterOpened }">
      <div class="articles__filters-list">
        <div class="articles__tag" :class="{ active: selectedCategories.includes(item) }"
          v-for="(item, index) in categories" :key="index" @click="filterAction(item)">{{ item }}</div>
      </div>

    </div>
    <div class="articles__list">
      <ArticleCard v-for="article in filteredArticles" :key="article.id" :article="article" />
    </div>
  </div>
</template>


<script setup>
const i18 = useI18n()
const config = useRuntimeConfig();
const page = ref(1)
const selectedCategories = ref([])
const locale = ref(i18.locale.value.substring(0, 2))
const filterOpened = ref(false)

const { data, pending, refresh } = await useFetch(() => `${process.dev ? config.public.API_URL : `${location.origin}/cms`}/api/articles?populate=cover&populate=category&pagination[page]=${page.value}&pagination[pageSize]=${20}&locale=${locale.value}`, { key: `articlesList-${page.value}` })

const categories = computed(() => {
  const items = data.value.data;
  let uniqueValues = [...new Set(items.map(city => city.attributes.category.data?.attributes.name))];
  return uniqueValues
})

const filteredArticles = computed(() => {
  const articles = data.value.data;
  const filtered = articles.filter(item => selectedCategories.value.includes(item.attributes.category.data?.attributes.name));
  if (selectedCategories.value.length) {
    return filtered
  } else {
    return articles
  }

})

const filterAction = (item) => {
  if (selectedCategories.value.includes(item)) {
    selectedCategories.value = selectedCategories.value.filter((number) => number !== item)
  } else {
    selectedCategories.value.push(item)
  }
}

function refetch(pageNumber) {
  page.value = pageNumber
  refresh()
}

definePageMeta({
  layout: 'article',
});
</script>

<style lang="scss">
.articles {

  &__title {
    color: var(--white);
    font-size: 34px;
    line-height: 42px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
  }

  &__header {
    position: relative;
    display: flex;
    gap: 25px;
    align-items: center;
  }

  &__icon {
    width: 44px;
    height: 44px;
    color: var(--white);
    cursor: pointer;
  }

  &__list {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @media (max-width: $mobile) {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }
  }

  &__filters {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: all 0.3s ease;

    &.active {
      grid-template-rows: 1fr;
      padding-top: 40px;
    }
  }

  &__filters-list {
    min-height: 0;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;

  }

  &__tag {
    padding: 8px 16px;
    border: 1px solid var(--color-2);
    border-radius: 48px;
    cursor: pointer;
    transition: border-color 0.3s ease;

    &.active {
      background-color: var(--color-5);
      border-color: var(--color-5) !important;
    }

    &:hover {
      border-color: var(--color-1);
    }
  }

  &__pagination {
    padding-top: 80px;
    display: flex;
    justify-content: center;

    @media (max-width: $xs) {
      padding-top: 40px;
    }
  }
}
</style>
