<template>
  <NuxtLayout>
    <NuxtPage></NuxtPage>
  </NuxtLayout>
</template>

<script setup>
const activeLanguage = useCookie("language");
const { locale, setLocale } = useI18n()

if (activeLanguage.value) {  
  setLocale(activeLanguage.value)
} else {
  activeLanguage.value = "ru-Ru"
}

</script>