<template>
  <div class="error-page">
    <div class="error-page__container">
      <p class="error-page__code">{{ error.statusCode }}</p>
      <VNode />
      <nuxt-link v-if="error.statusCode == 404" class="error-page__link" to="/">На главную</nuxt-link>
      <a v-else class="error-page__link" href="mailto:support@global-rc.ru">support@global-rc.ru</a>
    </div>
  </div>
</template>

<script setup>
import { h } from 'vue'
const props = defineProps({
  error: Object
})

const VNode = () => h('div', { class: 'error-page__title', innerHTML: errorMessage.value })

const errorMessage = computed(() => {
  let message = ''
  if (props.error.statusCode == 404) {
    message = 'Страница не найдена'
  }
  if (props.error.statusCode == 500) {
    message = `Ошибка сервиса. <br/> Обратитесь в техническую поддержку.`
  }
  return message
})
</script>

<style lang="scss">
.error-page {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
  }

  &__code {
    font-size: 120px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    border: 4px dashed white;
    padding: 16px 24px;

    @media (max-width: $mobile) {
      font-size: 56px;
    }
  }

  &__title {
    font-size: 34px;
    text-align: center;
    font-family: "Inter", sans-serif;

    @media (max-width: $mobile) {
      font-size: 20px;
    }
  }

  &__link {
    background-color: var(--bg);
    position: relative;
    width: 300px;
    padding: 16px;
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 26px;
    color: var(--text);
    font-family: "Inter", sans-serif;
    border: 2px solid var(--text);
    transition: all 0.3s ease;

    @media (max-width: $mobile) {
      font-size: 16px;
      width: unset;
    }

    &:hover {
      background-color: var(--text);
      color: var(--bg);
    }
  }
}
</style>