<template>
  <div class="main-about">
    <div class="main-about__bg"></div>
    <img class="main-about__image" src="@/assets/img/about.png" alt="">
    <div class="main-about__container">
      <p class="title">{{$t('main.about.title')}}</p>
      <img class="main-about__dots" src="@/assets/img/dots.svg" alt="">
      <p class="text">{{ componentData.text }}</p>
    </div>
  </div>
</template>

<script setup>
const props = defineProps({
  componentData: {
    type: Object,
  }
})
</script>

<style lang="scss" scoped>
.main-about {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 562px;

  &__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--transparent);
    z-index: -1;
  }

  &__container {
    position: absolute;
    width: 458px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    right: 71px;
  }
}
</style>