<template>
  <div class="main-about">
    <img class="main-about__dots-top" src="@/assets/img/about.svg" alt="">
    <img class="main-about__dots-bottom" src="@/assets/img/about.svg" alt="">    
    <div class="main-about__container">
      <p class="title">{{$t('main.about.title')}}</p>      
      <p class="text">{{ componentData.text }}</p>
      <img class="main-about__image" src="@/assets/img/about-small.png" alt="">
    </div>
  </div>
</template>

<script setup>
const props = defineProps({
  componentData: {
    type: Object,
  }
})
</script>

<style lang="scss" scoped>
.main-about {
  margin-top: 400px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {    
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 60px;
  }

  &__dots-top {
    position: absolute;
    left: 0;
    top: 0;
  }
  &__dots-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: rotate(180deg);
  }
}
</style>