<template>
  <div class="main-base padding">
    <div class="main-base__container">
      <div class="main-base__wrapper"></div>
      <p class="main-base__title title">{{ componentData.title }}</p>
      <p class="text text-center">{{ componentData.description }}</p>
      <div class="main-base__particles">
        <div class="main-base__particle" :class="{ active: activeSlide == 0 }">
          <Icon iconName="particle-base-1" />
        </div>
        <div class="main-base__particle" :class="{ active: activeSlide == 1 }">
          <Icon iconName="particle-base-2" />
        </div>
        <div class="main-base__particle" :class="{ active: activeSlide == 2 }">
          <Icon iconName="particle-base-3" />
        </div>
        <div class="main-base__particle" :class="{ active: activeSlide == 3 }">
          <Icon iconName="particle-base-4" />
        </div>
        <div class="main-base__particle" :class="{ active: activeSlide == 4 }">
          <Icon iconName="particle-base-5" />
        </div>
        <div class="main-base__particle" :class="{ active: activeSlide == 5 }">
          <Icon iconName="particle-base-6" />
        </div>
      </div>
    </div>
    <div class="main-base__slider">

      <div class="main-base__item" :class="{ active: activeSlide == 0 }" :style="`z-index: ${Math.abs(5 - activeSlide)};`">
        <div class="main-base__icon">
          <img src="@/assets/img/users.svg" alt="">
        </div>
        <div class="main-base__divider"></div>
        <span class="main-base__text">{{ componentData.base_1 }}</span>
      </div>

      <div class="main-base__item" :class="{ active: activeSlide == 1 }" :style="`z-index: ${Math.abs(4 - activeSlide)};`">
        <div class="main-base__icon">
          <img src="@/assets/img/home.svg" alt="">
        </div>
        <div class="main-base__divider"></div>
        <span class="main-base__text">{{ componentData.base_2 }}
        </span>
      </div>

      <div class="main-base__item" :class="{ active: activeSlide == 2 }" :style="`z-index: ${Math.abs(3 - activeSlide)};`">
        <div class="main-base__icon">
          <img src="@/assets/img/hands.svg" alt="">
        </div>
        <div class="main-base__divider"></div>
        <span class="main-base__text">{{ componentData.base_3 }}
        </span>
      </div>

      <div class="main-base__item" :class="{ active: activeSlide == 3 }" :style="`z-index: ${Math.abs(2 - activeSlide)};`">
        <div class="main-base__icon">
          <img src="@/assets/img/lamp.svg" alt="">
        </div>
        <div class="main-base__divider"></div>
        <span class="main-base__text">{{ componentData.base_4 }}
        </span>
      </div>

      <div class="main-base__item" :class="{ active: activeSlide == 4 }" :style="`z-index: ${Math.abs(1 - activeSlide)};`">
        <div class="main-base__icon">
          <img src="@/assets/img/gears.svg" alt="">
        </div>
        <div class="main-base__divider"></div>
        <span class="main-base__text">{{ componentData.base_5 }}
        </span>
      </div>

      <div class="main-base__item" :class="{ active: activeSlide == 5 }" :style="`z-index: ${Math.abs(0 - activeSlide)};`">
        <div class="main-base__icon">
          <img src="@/assets/img/chart.svg" alt="">
        </div>
        <div class="main-base__divider"></div>
        <span class="main-base__text">{{ componentData.base_6 }}
        </span>
      </div>
    </div>
    <div class="main-base__controls">
      <div class="main-base__box" @click="activeSlide--" :class="{ disabled: activeSlide == 0 }">
        <div class="main-base__icon-control">
          <Icon iconName="arrow-left-small" />
        </div>
      </div>
      <div class="main-base__box" @click="activeSlide++" :class="{ disabled: activeSlide == 5 }">
        <div class="main-base__icon-control">
          <Icon iconName="arrow-right-small" />
        </div>
      </div>
    </div>   
  </div>
</template>

<script setup>
const props = defineProps({
  componentData: {
    type: Object,
  }
})
const activeSlide = ref(0)
</script>

<style lang="scss" scoped>
$this: &;

.swiper-slide {
  width: 222px;
  padding-top: 60px;
}

.main-base {

  &__title {
    max-width: 300px;
  }
  &__wrapper {
    position: absolute;
    width: calc(100% + 26px);
    height: calc(100% + 26px);
    border: 3px solid var(--additional);
    border-bottom: none;
    top: -13px;
    left: -13px;
    border-radius: 113px;

    &::after {
      content: '';
      position: absolute;
      left: -3px;
      bottom: -3px;
      width: calc(50% - 17px);
      height: calc(100% + 6px);
      border-left: 3px solid var(--additional);
      border-bottom: 3px solid var(--additional);
      border-top: 3px solid var(--additional);
      border-radius: 113px 0 0 113px;
    }

    &::before {
      content: '';
      position: absolute;
      right: -3px;
      bottom: -3px;
      width: calc(50% - 17px);
      height: calc(100% + 6px);
      border-right: 3px solid var(--additional);
      border-bottom: 3px solid var(--additional);
      border-top: 3px solid var(--additional);
      border-radius: 0 113px 113px 0;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--color-5);
    padding: 23px 26px;
    border-radius: 100px;
    margin: 13px;
    border-collapse: separate;
    border-spacing: 13px;
    position: relative;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 10px;
    width: 222px;
    height: 200px;
    border-radius: 32px;
    transition: transform 0.5s ease;
    position: absolute;
    bottom: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

    &.active {
      transform: translateY(-10px);
      z-index: 10 !important;
      .main-base__text {
        opacity: 1;
      }
      .main-base__divider {
        opacity: 1;
      }
      .main-base__icon {
        opacity: 1;
      }
    }

    &:nth-child(1) {
      background-color: var(--color-2);
      color: var(--color-2);
      // z-index: 6;
    }

    &:nth-child(2) {
      left: calc(35% - 111px);
      background-color: var(--color-3);
      color: var(--color-3);
      // z-index: 5;
    }

    &:nth-child(3) {
      left: calc(45% - 111px);
      background-color: var(--color-4);
      color: var(--color-3);
      // z-index: 4;
    }

    &:nth-child(4) {
      right: calc(45% - 111px);
      background-color: var(--color-5);
      color: var(--color-5);
      // z-index: 3;
    }

    &:nth-child(5) {
      right: calc(35% - 111px);
      background-color: var(--color-3);
      color: var(--color-3);
      // z-index: 2;
    }

    &:nth-child(6) {
      right: 0;
      background-color: var(--color-2);
      color: var(--color-2);
      // z-index: 1;
    }
  }

  &__divider {
    width: 80px;
    height: 1px;
    background-color: var(--gray-6);
    margin: 9px;
    opacity: 0;
  }

  &__icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    opacity: 0;

    &>img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: var(--gray-6);
    text-align: center;
    cursor: default;
    opacity: 0;
  }

  &__particle {
    position: absolute;
    height: 80px;
    bottom: -88px;
    opacity: 0;
    transition: opacity 0.5s ease;

    &:nth-child(1) {
      color: var(--color-2);
      width: 95px;
      left: 0;
      right: 80px;
      margin: 0 auto;
    }
    &:nth-child(2) {
      color: var(--color-3);
      width: 61px;
      left: 0;
      right: 54px;
      margin: 0 auto;
    }
    &:nth-child(3) {
      color: var(--color-4);
      width: 31px;
      left: 0;
      right: 17px;
      margin: 0 auto;
    }
    &:nth-child(4) {
      color: var(--color-5);
      width: 31px;
      left: 17px;
      right: 0;
      margin: 0 auto;
    }
    &:nth-child(5) {
      color: var(--color-3);
      width: 61px;
      left: 47px;
      right: 0;
      margin: 0 auto;
    }
    &:nth-child(6) {
      color: var(--color-2);
      width: 95px;
      left: 80px;
      right: 0;
      margin: 0 auto;
    }

    &.active {
      opacity: 1;
    }
  }

  &__slider {
    width: 100%;
    height: 294px;
    display: flex;
    position: relative;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 98px;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 64px;
    height: 64px;

    &.disabled {
      pointer-events: none;
    }
  }

  &__icon-control {
    width: 64px;
    height: 64px;
    color: var(--text);
  }
}
</style>