<template>
  <div class="main-base padding">
    <div class="main-base__desktop">
      <div class="circle-bg"></div>
      <div class="main-base__section">
        <div class="main-base__item color-one">
          <div class="main-base__icon">
            <img src="@/assets/img/users.svg" alt="">
          </div>
          <div class="main-base__divider"></div>
          <span class="main-base__text">{{ componentData.base_1 }}</span>
        </div>
        <div class="main-base__item color-two">
          <div class="main-base__icon">
            <img src="@/assets/img/home.svg" alt="">
          </div>
          <div class="main-base__divider"></div>
          <span class="main-base__text">{{ componentData.base_2 }}
          </span>
        </div>
        <div class="main-base__item color-three">
          <div class="main-base__icon">
            <img src="@/assets/img/hands.svg" alt="">
          </div>
          <div class="main-base__divider"></div>
          <span class="main-base__text">{{ componentData.base_3 }}
          </span>
        </div>
      </div>
      <div class="main-base__center">
        <div class="main-base__arrows">
          <div class="main-base__line-curve">
            <div class="main-base__circles color-one"></div>
          </div>
          <div class="main-base__line-straight">
            <div class="main-base__circles color-two"></div>
          </div>
          <div class="main-base__line-second">
            <div class="main-base__circles color-three"></div>
          </div>
        </div>
        <div class="main-base__container">
          <span class="main-base__title">{{ componentData.title }}</span>
          <span class="main-base__text">{{ componentData.description }}</span>
        </div>
        <div class="main-base__arrows">
          <div class="main-base__line-second">
            <div class="main-base__circles color-three"></div>
          </div>
          <div class="main-base__line-straight">
            <div class="main-base__circles color-two"></div>
          </div>

          <div class="main-base__line-curve">
            <div class="main-base__circles color-one"></div>
          </div>
        </div>
      </div>
      <div class="main-base__section">
        <div class="main-base__item color-three">
          <div class="main-base__icon">
            <img src="@/assets/img/lamp.svg" alt="">
          </div>
          <div class="main-base__divider"></div>
          <span class="main-base__text">{{ componentData.base_4 }}</span>
        </div>
        <div class="main-base__item color-two">
          <div class="main-base__icon">
            <img src="@/assets/img/gears.svg" alt="">
          </div>
          <div class="main-base__divider"></div>
          <span class="main-base__text">{{ componentData.base_5 }}
          </span>
        </div>
        <div class="main-base__item color-one">
          <div class="main-base__icon">
            <img src="@/assets/img/chart.svg" alt="">
          </div>
          <div class="main-base__divider"></div>
          <span class="main-base__text">{{ componentData.base_6 }}</span>
        </div>
      </div>
    </div>    
  </div>
</template>

<script setup>
const props = defineProps({
  componentData: {
    type: Object,
  }
})
</script>

<style lang="scss" scoped>
.main-base {
  $this: &;
  position: relative;
  display: flex;
  justify-content: center;

  &__desktop {
    width: 1000px;
    display: block;
    position: relative;
  }

  &__section {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 10px;
    width: 276px;
    height: 224px;
    border-radius: 32px;
    transition: transform 0.5s ease;

    &:hover {
      transform: scale(1.1);
    }

    &.color-one {
      background-color: var(--color-1);
    }

    &.color-two {
      background-color: var(--color-2);
    }

    &.color-three {
      background-color: var(--color-3);
    }
  }

  &__divider {
    width: 172px;
    height: 1px;
    background-color: var(--gray-6);
    margin: 12px 0 6px;
  }

  &__icon {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  &__text {
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: var(--gray-6);
    text-align: center;
    cursor: default;
  }

  &__line-straight {
    width: 4px;
    height: 100px;
    background-color: var(--additional);
    position: relative;
  }

  &__line-second {
    width: 300px;
    height: 100px;
    position: relative;

    &::before {
      position: absolute;
      bottom: 2px;
      content: '';
      height: 50px;
      width: 50%;
      border-top: 4px solid var(--additional);
      border-left: 4px solid var(--additional);
      -webkit-border-radius: 50px 0 0 0;
      -moz-border-radius: 50px 0 0 0;
      border-radius: 50px 0 0 0;
    }

    &::after {
      position: absolute;
      content: '';
      width: 50%;
      height: 50px;
      right: 0;
      top: 2px;
      border-right: 4px solid var(--additional);
      border-bottom: 4px solid var(--additional);
      -webkit-border-radius: 0 0 50px 0;
      -moz-border-radius: 0 0 50px 0;
      border-radius: 0 0 50px 0;
    }
  }

  &__line-curve {
    width: 300px;
    height: 100px;
    position: relative;

    &::before {
      position: absolute;
      top: 2px;
      content: '';
      height: 50px;
      width: 50%;
      border-bottom: 4px solid var(--additional);
      border-left: 4px solid var(--additional);
      -webkit-border-radius: 0 0 0 50px;
      -moz-border-radius: 0 0 0 50px;
      border-radius: 0 0 0 50px;
    }

    &::after {
      position: absolute;
      content: '';
      width: 50%;
      height: 50px;
      right: 0;
      bottom: 2px;
      border-right: 4px solid var(--additional);
      border-top: 4px solid var(--additional);
      -webkit-border-radius: 0 50px 0 0;
      -moz-border-radius: 0 50px 0 0;
      border-radius: 0 50px 0 0;
    }
  }

  &__circles {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1;

    &::after {
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      border-radius: 100%;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    }

    &::before {
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      border-radius: 100%;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    }

    &.color-one {
      &::after {
        background-color: var(--color-1);
        left: -7px;
        top: -10px;

      }

      &::before {
        background-color: var(--color-1);
        right: -8px;
        bottom: -10px;
      }
    }

    &.color-two {
      &::after {
        background-color: var(--color-2);
        left: -8px;
        top: -10px;
      }

      &::before {
        background-color: var(--color-2);
        right: -8px;
        bottom: -10px;
      }
    }

    &.color-three {
      &::after {
        background-color: var(--color-3);
        left: -8px;
        bottom: -10px;
      }

      &::before {
        background-color: var(--color-3);
        right: -8px;
        top: -10px;
      }
    }
  }

  &__arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }

  &__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
  }

  &__container {
    margin: 36px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 80px;
    width: 652px;
    height: 203px;
    background-color: var(--color-4);
    border-radius: 108px;
    transition: width 0.3s ease;

    &:hover {
      width: 700px;
    }

    &::before {
      position: absolute;
      top: -40px;
      left: -48px;
      content: '';
      height: 282px;
      width: 260px;
      border-top: 8px solid var(--additional);
      border-left: 8px solid var(--additional);
      border-bottom: 8px solid var(--additional);
      -webkit-border-radius: 100% 0 0 100%;
      -moz-border-radius: 100% 0 0 100%;
      border-radius: 100% 0 0 100%;
      box-shadow: -15px 0 15px rgba(0, 0, 0, 0.4);
    }

    &::after {
      position: absolute;
      top: -40px;
      right: -48px;
      content: '';
      height: 282px;
      width: 260px;
      border-top: 8px solid var(--additional);
      border-right: 8px solid var(--additional);
      border-bottom: 8px solid var(--additional);
      -webkit-border-radius: 100% 0 0 100%;
      -moz-border-radius: 100% 0 0 100%;
      border-radius: 0 100% 100% 0;
      box-shadow: 15px 0 15px rgba(0, 0, 0, 0.4);
    }
  }

  &__title {
    font-size: 34px;
    line-height: 42px;
    font-weight: 700;
    color: var(--text);
    text-align: center;
    margin-bottom: 8px;
    cursor: default;
    max-width: 500px;
    font-family: "Inter", sans-serif;
  }

}
</style>