<template>
  <div class="main-features">
    <div class="main-features__container">
      <div class="main-features__bg"></div>
      <p class="title" style="margin-top: 44px; max-width: 300px;">{{$t('main.features.title')}}</p>
      <div class="main-features__top">
        <Icon iconName="hexagon-down" />
      </div>
      <div class="main-features__center">
        <div class="main-features__dots top">
          <div class="main-features__dot" v-for="(item, index) in 6" :key="index"></div>
        </div>
        <div class="main-features__dots bottom">
          <div class="main-features__dot" v-for="(item, index) in 6" :key="index"></div>
        </div>
        <div class="main-features__romb-big">
          <div class="main-features__content big">
            <div class="main-features__icon">
              <img src="@/assets/img/users.svg">
            </div>
            <p class="main-features__title">{{componentData.title_1}}</p>
            <p class="text" style="width: 272px;">{{componentData.description_1}}</p>
          </div>
        </div>
        <div class="main-features__particle two ">
          <Icon iconName="hexagon-left" />
          <div class="main-features__romb two left">
            <div class="main-features__content">
              <div class="main-features__icon">
                <img src="@/assets/img/cloud.svg">
              </div>
              <p class="main-features__title">{{componentData.title_2}}</p>
              <p class="text" style="width: 200px;">{{componentData.description_2}}</p>
            </div>
          </div>
        </div>
        <div class="main-features__particle three ">
          <Icon iconName="hexagon-left" />
          <div class="main-features__romb three left">
            <div class="main-features__content">
              <div class="main-features__icon">
                <img src="@/assets/img/graph.svg">
              </div>
              <p class="text" style="width: 233px;">{{componentData.description_3}}</p>
            </div>
          </div>
        </div>

        <div class="main-features__particle four ">
          <Icon iconName="hexagon-right" />
          <div class="main-features__romb four right">
            <div class="main-features__content">
              <div class="main-features__icon">
                <img src="@/assets/img/bars.svg">
              </div>
              <p class="main-features__title">{{componentData.title_4}}
              </p>
              <p class="text" style="width: 220px;">{{componentData.description_4}}</p>
            </div>
          </div>
        </div>

        <div class="main-features__particle five ">
          <Icon iconName="hexagon-right" />
          <div class="main-features__romb five right">
            <div class="main-features__content">
              <div class="main-features__icon">
                <img src="@/assets/img/gears.svg">
              </div>
              <p class="main-features__title">{{componentData.title_5}}
              </p>
              <p class="text" style="width: 205px;">{{componentData.description_5}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
const props = defineProps({
  componentData: {
    type: Object,
  }
})
</script>


<style lang="scss" scoped>
.main-features {
  position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  &__bg {
    width: 100%;
    aspect-ratio: 1/1;
    height: 100%;
    position: absolute;
    background-color: var(--transparent);
    border-radius: 120px;
    z-index: -1;
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 810px;
    height: 947px;
  }

  &__title {
    font-size: 22px;
    line-height: 26px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    padding-bottom: 8px;
    color: var(--text);
    max-width: 272px;
  }

  &__icon {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  &__content {
    position: absolute;
    width: 320px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    left: -80px;
    z-index: 1;

    &.big {
      width: 415px;
      left: -104px;
    }
  }

  &__romb-big {
    width: 208px;
    height: 360px;
    background-color: var(--color-1);
    position: relative;

    &::before {
      position: absolute;
      content: '';
      display: block;
      top: 0;
      left: -104px;
      height: 100%;
      border-right: 104px solid var(--color-1);
      border-top: 180px solid transparent;
      border-bottom: 180px solid transparent;
    }

    &::after {
      position: absolute;
      content: '';
      top: 0;
      right: -104px;
      border-left: 104px solid var(--color-1);
      border-top: 180px solid transparent;
      border-bottom: 180px solid transparent;
    }
  }

  &__romb {
    width: 160px;
    height: 276px;
    background-color: var(--color-1);
    position: absolute;

    transition: transform 0.3s ease;

    &.left {
      top: 41px;
      left: 30px;

      &:hover {
        transform: scale(1.05) translateX(-20px);
      }
    }

    &.right {
      top: 41px;
      right: 42px;

      &:hover {
        transform: scale(1.05) translateX(20px);
      }
    }

    &.two {
      background-color: var(--color-2);

      &::before {
        border-right-color: var(--color-2);
      }

      &::after {
        border-left-color: var(--color-2);
      }
    }

    &.three {
      background-color: var(--color-3);

      &::before {
        border-right-color: var(--color-3);
      }

      &::after {
        border-left-color: var(--color-3);
      }
    }

    &.four {
      background-color: var(--color-4);

      &::before {
        border-right-color: var(--color-4);
      }

      &::after {
        border-left-color: var(--color-4);
      }
    }

    &.five {
      background-color: var(--color-5);

      &::before {
        border-right-color: var(--color-5);
      }

      &::after {
        border-left-color: var(--color-5);
      }
    }

    &::before {
      position: absolute;
      content: '';
      display: block;
      top: 0;
      left: -80px;
      height: 100%;
      border-right: 80px solid var(--color-1);
      border-top: 138px solid transparent;
      border-bottom: 138px solid transparent;
    }

    &::after {
      position: absolute;
      content: '';
      top: 0;
      right: -80px;
      border-left: 80px solid var(--color-1);
      border-top: 138px solid transparent;
      border-bottom: 138px solid transparent;
    }
  }

  &__particle {
    width: 324px;
    height: 370px;
    position: absolute;

    &.two {
      color: var(--color-2);
      top: -162px;
      left: -328px;
    }

    &.three {
      color: var(--color-3);
      bottom: -198px;
      left: -328px;
    }

    &.four {
      color: var(--color-4);
      top: -162px;
      right: -340px;
    }

    &.five {
      color: var(--color-5);
      bottom: -198px;
      right: -340px;
    }
  }



  &__top {
    width: 442px;
    height: 202px;
    margin-top: -40px;
  }

  &__center {
    padding-top: 30px;
    position: relative;
  }

  &__dots {

    position: absolute;
    display: flex;
    gap: 16px;

    &.top {
      top: -100px;
    }

    &.bottom {
      bottom: -70px;
    }
  }

  &__dot {
    width: 20px;
    height: 20px;
    border-radius: 100%;

    &:nth-child(1) {
      background-color: var(--color-1);
    }

    &:nth-child(2) {
      background-color: var(--color-2);
    }

    &:nth-child(3) {
      background-color: var(--color-3);
    }

    &:nth-child(4) {
      background-color: var(--color-4);
    }

    &:nth-child(5) {
      background-color: var(--color-2);
    }

    &:nth-child(6) {
      background-color: var(--color-1);
    }
  }
}
</style>