<template>
  <div class="main-features">
    <p class="title" style="margin-top: 44px; max-width: 300px;">{{$t('main.features.title')}}</p>
    <div class="main-features__top">
      <Icon iconName="hexagon-down-small" />
    </div>
    <div class="main-features__center">
      <div class="main-features__dots top">
        <div class="main-features__dot" v-for="(item, index) in 6" :key="index"></div>
      </div>
      <div class="main-features__dots bottom">
        <div class="main-features__dot" v-for="(item, index) in 6" :key="index"></div>
      </div>
      <swiper :effect="'cards'" :navigation="{ prevEl: prev, nextEl: next }" 
        :centeredSlides="true" :cardsEffect="{
          perSlideOffset: 10, perSlideRotate: 0, slideShadows: false,
        }" :modules="[SwiperEffectCards, SwiperNavigation]" class="mySwiper">
        <swiper-slide>
          <div class="main-features__hexagon">
            <div class="main-features__content">
              <div class="main-features__icon">
                <img src="@/assets/img/graph.svg">
              </div>
              <p class="text" style="width: 220px;">{{componentData.description_3}}</p>
            </div>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="main-features__hexagon">
            <div class="main-features__content">
              <p class="main-features__title">{{componentData.title_4}}</p>
              <div class="main-features__icon">
                <img src="@/assets/img/bars.svg">
              </div>
              <p class="text" style="width: 206px;">{{componentData.description_4}}</p>
            </div>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="main-features__hexagon">
            <div class="main-features__content">
              <p class="main-features__title">{{componentData.title_1}}</p>
              <div class="main-features__icon">
                <img src="@/assets/img/users.svg">
              </div>
              <p class="text" style="width: 220px;">{{componentData.description_1}}</p>
            </div>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="main-features__hexagon">
            <div class="main-features__content">
              <p class="main-features__title">{{componentData.title_2}}</p>
              <div class="main-features__icon">
                <img src="@/assets/img/cloud.svg">
              </div>
              <p class="text" style="width: 220px;">{{componentData.description_2}}</p>
            </div>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="main-features__hexagon">
            <div class="main-features__content">
              <p class="main-features__title">{{componentData.title_5}}</p>
              <div class="main-features__icon">
                <img src="@/assets/img/gears.svg">
              </div>
              <p class="text" style="width: 208px;">{{componentData.description_5}}</p>
            </div>
          </div>
        </swiper-slide>
      </swiper>
    </div>
    <div class="main-features__bottom">
      <Icon iconName="hexagon-down-small" />
    </div>
    <div class="main-features__controls">
      <div class="main-features__box" ref="prev">
        <div class="main-features__icon-control">
          <Icon iconName="arrow-left-small" />
        </div>
      </div>
      <div class="main-features__box" ref="next">
        <div class="main-features__icon-control">
          <Icon iconName="arrow-right-small" />
        </div>
      </div>
    </div>

  </div>
</template>

<script setup>
const props = defineProps({
  componentData: {
    type: Object,
  }
})

const prev = ref(null);
const next = ref(null);
</script>

<style lang="scss" scoped>
.swiper {
  width: 400px;
  height: 266px;
}
.swiper-slide-active {
  .main-features__content {
    opacity: 1 !important;
  }
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
    

  &:nth-child(1) {
    &>div {
      background-color: var(--color-2);

      &::before {
        border-right-color: var(--color-2);
      }

      &::after {
        border-left-color: var(--color-2);
      }
    }
  }

  &:nth-child(2) {
    &>div {
      background-color: var(--color-3);

      &::before {
        border-right-color: var(--color-3);
      }

      &::after {
        border-left-color: var(--color-3);
      }
    }
  }

  &:nth-child(3) {
    &>div {
      background-color: var(--color-1);

      &::before {
        border-right-color: var(--color-1);
      }

      &::after {
        border-left-color: var(--color-1);
      }
    }
  }

  &:nth-child(4) {
    &>div {
      background-color: var(--color-4);

      &::before {
        border-right-color: var(--color-4);
      }

      &::after {
        border-left-color: var(--color-4);
      }
    }
  }
  &:nth-child(5) {
    &>div {
      background-color: var(--color-5);

      &::before {
        border-right-color: var(--color-5);
      }

      &::after {
        border-left-color: var(--color-5);
      }
    }
  }
}

.main-features {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: var(--text);
    max-width: 200px;
  }

  &__icon {
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    &>img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__content {
    position: absolute;
    width: 312px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    left: -78px;
    z-index: 1;
    gap: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &__hexagon {
    width: 156px;
    height: 266px;
    background-color: var(--color-1);
    position: relative;
    filter: drop-shadow(0 5px 15px rgba(0,0,0,0.5));

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: -77px;
      height: 100%;
      border-right: 78px solid var(--color-1);
      border-top: 133px solid transparent;
      border-bottom: 133px solid transparent;
    }

    &::after {
      position: absolute;
      content: '';
      top: 0;
      right: -77px;
      border-left: 78px solid var(--color-1);
      border-top: 133px solid transparent;
      border-bottom: 133px solid transparent;
    }
  }

  &__top {
    width: 304px;
    height: 138px;
    margin-top: -45px;
    color: var(--color-1);
  }

  &__bottom {
    transform: rotate(180deg);
    width: 304px;
    height: 138px;
    margin-top: 18px;
    color: var(--color-3);
  }

  &__center {
    padding-top: 18px;
    position: relative;
  }

  &__dots {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 12px;
    width: 100%;

    &.top {
      top: -50px;
    }

    &.bottom {
      bottom: -70px;
    }
  }

  &__dot {
    width: 15px;
    height: 15px;
    border-radius: 100%;

    &:nth-child(1) {
      background-color: var(--color-1);
    }

    &:nth-child(2) {
      background-color: var(--color-2);
    }

    &:nth-child(3) {
      background-color: var(--color-3);
    }

    &:nth-child(4) {
      background-color: var(--color-4);
    }

    &:nth-child(5) {
      background-color: var(--color-2);
    }

    &:nth-child(6) {
      background-color: var(--color-1);
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 64px;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 64px;
    height: 64px;

    &.disabled {
      pointer-events: none;
    }
  }

  &__icon-control {
    width: 64px;
    height: 64px;
    color: var(--text);
  }
}</style>