<template>
  <div class="main-first padding">
    <div class="main-first__content">
      <div class="main-first__wrapper">
        <img class="main-first__image" src="/first.png" alt="">
        <span>{{componentData.title}}</span>
      </div>
      <p class="main-first__text">{{componentData.description}}</p>
    </div>
    <img class="main-first__bottom" src="/first.svg" alt="">
  </div>
</template>

<script setup>
const props = defineProps({
  componentData: {
    type: Object,
  }
})
</script>

<style lang="scss" scoped>
.main-first {
  position: relative;

  &__content {
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;

    @media (max-width: $mobile) {
      width: unset;
      flex-direction: column;
    }
  }

  &__text {
    font-size: 22px;
    line-height: 26px;
    font-weight: 500;
    color: white;
    font-family: "Inter", sans-serif;

    @media (max-width: $mobile) {
      font-size: 19px;
      line-height: 22px;
    }
  }

  &__wrapper {
    flex-shrink: 0;
    position: relative;

    &::after {
      content: '';
      background-color: var(--transparent);
      position: absolute;
      border-radius: 100%;
      width: 100%;
      aspect-ratio: 1/1;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto 0;
      z-index: -1;
    }

    &>span {
      position: absolute;
      max-width: 470px;
      height: 100%;
      top: 0;
      display: flex;
      align-items: center;
      font-size: 30px;
      font-weight: 700;
      left: 0;
      right: 0;
      margin: 0 auto;
      padding-top: 20px;
      color: var(--text-black);

      @media (max-width: $mobile) {
        font-size: 18px;
        max-width: 100%;
        padding: 20px 32px 0;
      }
    }
  }

  &__image {
    height: 100%;
    position: relative;

    @media (max-width: $mobile) {
      width: calc(100vw - 32px);
    }
  }

  &__bottom {
    @media (max-width: $mobile) {
      width: 100vw;
      padding-top: 63px;
      margin-left: -16px;
    }
  }
}
</style>