<template>
  <div class="main-integration">
    <p class="title">{{$t('main.integration.title')}}</p>
    <swiper :effect="'cards'" :navigation="{ prevEl: prev, nextEl: next }" 
      :centeredSlides="true" :cardsEffect="{
        perSlideOffset: 2, perSlideRotate: 10, slideShadows: false,
      }" :modules="[SwiperEffectCards, SwiperNavigation]" class="mySwiper">
      <swiper-slide>
        <div class="main-integration__item">
          <Icon iconName="triangle-round" />
        </div>
        <p class="title" v-html="componentData.title_4.replace('<br/>', '')"></p>
        <p class="text text-center" v-html="componentData.description_4"></p>
      </swiper-slide>
      <swiper-slide>
        <div class="main-integration__item">
          <Icon iconName="triangle-round" />
        </div>
        <p class="title" v-html="componentData.title_5.replace('<br/>', '')"></p>
        <p class="text text-center" v-html="componentData.description_5"></p>
      </swiper-slide>
      <swiper-slide>
        <div class="main-integration__item">
          <Icon iconName="triangle-round" />
        </div>
        <p class="title" v-html="componentData.title_6.replace('<br/>', '')"></p>
        <p class="text text-center" v-html="componentData.description_6"></p>
      </swiper-slide>
      <swiper-slide>
        <div class="main-integration__item">
          <Icon iconName="triangle-round" />
        </div>
        <p class="title" v-html="componentData.title_1.replace('<br/>', '')"></p>
        <p class="text text-center" v-html="componentData.description_1"></p>
      </swiper-slide>
      <swiper-slide>
        <div class="main-integration__item">
          <Icon iconName="triangle-round" />
        </div>
        <p class="title" v-html="componentData.title_2.replace('<br/>', '')"></p>
        <p class="text text-center" v-html="componentData.description_2"></p>
      </swiper-slide>
      <swiper-slide>
        <div class="main-integration__item">
          <Icon iconName="triangle-round" />
        </div>
        <p class="title" v-html="componentData.title_3.replace('<br/>', '')"></p>
        <p class="text text-center" v-html="componentData.description_3"></p>
      </swiper-slide>
    </swiper>
    <div class="main-integration__particle">
      <img src="/main-integration/mobile-particle.svg" alt="">
    </div>
    <div class="main-integration__controls">
      <div class="main-integration__box" ref="prev">
        <div class="main-integration__icon-control">
          <Icon iconName="arrow-left-small" />
        </div>
      </div>
      <div class="main-integration__box" ref="next">
        <div class="main-integration__icon-control">
          <Icon iconName="arrow-right-small" />
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
const props = defineProps({
  componentData: {
    type: Object,
  }
})

const prev = ref(null);
const next = ref(null);
</script>

<style lang="scss" scoped>
.swiper {
  margin-top: 40px;
  width: 360px;
  height: 305px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 12px;
  &>p {
    opacity: 0;
  }
  .title {
    padding-top: 32px;
  }

  .text {
    width: 218px;
  }

  &:nth-child(1) {
    color: var(--color-1);
  }

  &:nth-child(2) {
    color: var(--color-2);
  }

  &:nth-child(3) {
    color: var(--color-3);
  }

  &:nth-child(4) {
    color: var(--color-4);
  }

  &:nth-child(5) {
    color: var(--color-5);
  }
  &:nth-child(6) {
    color: var(--color-6);
  }
}

.swiper-slide-active {
  &>p {
    opacity: 1;
  }
}

.main-integration {

  &__item {
    position: absolute;
    width: 360px;
    height: 310px;
    left: 0;
    z-index: -1;
    filter: drop-shadow(0 5px 15px rgba(0,0,0,0.5));
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 100px;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 64px;
    height: 64px;

    &.disabled {
      pointer-events: none;
    }
  }

  &__icon-control {
    width: 64px;
    height: 64px;
    color: var(--text);
  }

  &__particle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
  }
}
</style>