<template>
  <div class="main-integration">
    <div class="main-integration__desktop">
      <div class="main-integration__bg"></div>
      <p class="title" style="padding-top: 44px; max-width: 600px;">{{ $t('main.integration.title') }}</p>
      <div class="main-integration__content">
        <div class="main-integration__item" :class="{ en: route.fullPath.includes('en-US') }">
          <svg class="main-integration__icon">
            <use href="/main-integration/1.svg#1" />
          </svg>
          <div class="main-integration__wrapper" style="padding-top: 70px;">
            <p class="main-integration__title" v-html="componentData.title_1"></p>
            <div class="main-integration__divider"></div>
            <p class="main-integration__description" v-html="componentData.description_1"></p>
          </div>
        </div>
        <div class="main-integration__item" :class="{ en: route.fullPath.includes('en-US') }">
          <svg class="main-integration__icon">
            <use href="/main-integration/2.svg#2" />
          </svg>
          <div class="main-integration__wrapper" style="padding-top: 150px;">
            <p class="main-integration__title" v-html="componentData.title_2"></p>
            <div class="main-integration__divider"></div>
            <p class="main-integration__description" style="max-width: 220px;" v-html="componentData.description_2"></p>
          </div>
        </div>
        <div class="main-integration__item" :class="{ en: route.fullPath.includes('en-US') }">
          <svg class="main-integration__icon">
            <use href="/main-integration/3.svg#3" />
          </svg>
          <div class="main-integration__wrapper" style="padding-top: 30px;">
            <p class="main-integration__title" v-html="componentData.title_3"></p>
            <div class="main-integration__divider"></div>
            <p class="main-integration__description" style="max-width: 230px;" v-html="componentData.description_3"></p>
          </div>
        </div>
        <div class="main-integration__item" :class="{ en: route.fullPath.includes('en-US') }">
          <svg class="main-integration__icon">
            <use href="/main-integration/4.svg#4" />
          </svg>
          <div class="main-integration__wrapper" style="padding-top: 70px;">
            <p class="main-integration__title" v-html="componentData.title_4"></p>
            <div class="main-integration__divider"></div>
            <p class="main-integration__description" style="max-width: 260px;" v-html="componentData.description_4"></p>
          </div>
        </div>
        <div class="main-integration__item" :class="{ en: route.fullPath.includes('en-US') }">
          <svg class="main-integration__icon">
            <use href="/main-integration/5.svg#5" />
          </svg>
          <div class="main-integration__wrapper" style="padding-top: 30px;">
            <p class="main-integration__title" v-html="componentData.title_5"></p>
            <div class="main-integration__divider"></div>
            <p class="main-integration__description" style="max-width: 220px;" v-html="componentData.description_5"></p>
          </div>
        </div>
        <div class="main-integration__item" :class="{ en: route.fullPath.includes('en-US') }">
          <svg class="main-integration__icon">
            <use href="/main-integration/6.svg#6" />
          </svg>
          <div class="main-integration__wrapper" style="padding-top: 150px;">
            <p class="main-integration__title" v-html="componentData.title_6"></p>
            <div class="main-integration__divider"></div>
            <p class="main-integration__description" style="max-width: 220px;" v-html="componentData.description_6"></p>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script setup>
const route = useRoute();
const props = defineProps({
  componentData: {
    type: Object,
  }
})
</script>

<style lang="scss" scoped>
.main-integration {
  $this: &;
  display: flex;
  justify-content: center;

  &__desktop {
    position: relative;
    height: 972px;
    width: 1000px;
    display: flex;
    justify-content: center;

  }

  &__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--transparent);
    border-radius: 200px;
    z-index: -1;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    // justify-content: center;

  }

  &__title {
    font-size: 22px;
    line-height: 24px;
    font-weight: 500;
    color: white;
    font-family: "Inter", sans-serif;
    text-align: center;
  }

  &__divider {
    width: 50px;
    height: 1px;
    background-color: white;
  }

  &__description {
    font-size: 17px;
    line-height: 1;
    font-weight: 400;
    color: white;
    text-align: center;
  }

  &__item {
    position: absolute;
    display: flex;
    transition: transform 0.5s ease;

    &:nth-child(1) {
      width: 350px;
      height: 260px;
      color: var(--color-1);
      top: 177px;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: 6;

      &:hover {
        transform: translateY(-30px);
      }
    }

    &:nth-child(2) {
      width: 334px;
      height: 360px;
      color: var(--color-3);
      top: 200px;
      right: 110px;

      &:hover {
        transform: translate(30px, -20px);
      }
    }

    &:nth-child(3) {
      width: 334px;
      height: 360px;
      color: var(--color-1);
      bottom: 94px;
      right: 122px;
      z-index: 2;

      &:hover {
        transform: translate(30px, 20px);
      }
    }

    &:nth-child(4) {
      width: 378px;
      height: 286px;
      color: var(--color-4);
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 57px;

      &:hover {
        transform: translateY(30px);
      }
    }

    &:nth-child(5) {
      width: 297px;
      height: 308px;
      color: var(--color-1);
      left: 156px;
      bottom: 144px;

      &:hover {
        transform: translate(-30px, 20px);
      }
    }

    &:nth-child(6) {
      width: 344px;
      height: 355px;
      color: var(--color-2);
      left: 129px;
      top: 202px;

      &:hover {
        transform: translate(-30px, -20px);
      }
    }

    &.en {
      &:nth-child(1) {
        
      }

      &:nth-child(2) {
        
      }

      &:nth-child(3) {
        #{$this}__wrapper {
          padding-left: 10px;
        }
        #{$this}__description {
          max-width: 170px !important;
        }
      }

      &:nth-child(4) {
        #{$this}__wrapper {
          padding-top: 50px !important;
        }
      }

      &:nth-child(5) {
        #{$this}__wrapper {
          padding-right: 10px;
        }
        #{$this}__description {
          max-width: 220px !important;
        }
      }

      &:nth-child(6) {        
        #{$this}__wrapper {
          padding-top: 120px !important;
          padding-right: 40px;
        }
        #{$this}__description {
          max-width: 300px !important;
        }
      }
    }
  }

  &__icon {
    display: block;
    width: 100%;
    height: 100%;
  }
}
</style>