<template>
  <div class="main-introduction">
    <div class="circle-bg"></div>
    <p class="title">{{$t('main.introduction.title')}}</p>
    <div class="main-introduction__list">
      <div class="main-introduction__item">
        <svg class="main-introduction__particle">
          <use href="/main-introduction/1.svg#1" />
        </svg>
        <p class="main-introduction__text">{{ componentData.text_1 }}</p>
      </div>
      <div class="main-introduction__item">
        <svg class="main-introduction__particle">
          <use href="/main-introduction/2.svg#2" />
        </svg>
        <p class="main-introduction__text">{{ componentData.text_2 }}</p>
      </div>
      <div class="main-introduction__item">
        <svg class="main-introduction__particle">
          <use href="/main-introduction/3.svg#3" />
        </svg>
        <p class="main-introduction__text">{{ componentData.text_3 }}</p>
      </div>
      <div class="main-introduction__item">
        <svg class="main-introduction__particle">
          <use href="/main-introduction/4.svg#4" />
        </svg>
        <p class="main-introduction__text">{{ componentData.text_4 }}</p>
      </div>
    </div>

  </div>
</template>

<script setup>
const props = defineProps({
  componentData: {
    type: Object,
  }
})
</script>

<style lang="scss" scoped>
.main-introduction {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 108px;

  &__list {
    position: relative;
  }

  &__item {
    width: 744px;
    height: 270px;
    transition: transform 0.3s ease;

    &:hover {
      transform: translate(20px, 20px);
    }

    position: absolute;

    &:nth-child(1) {
      position: relative;
      padding-top: 16px;
      color: var(--color-1);
    }

    &:nth-child(2) {
      top: 194px;
      color: var(--color-2);
    }

    &:nth-child(3) {
      top: 370px;
      color: var(--color-3);
    }

    &:nth-child(4) {
      top: 544px;
      color: var(--color-4);
      &>p {
        top: 20px;
      }
    }
  }

  &__particle {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__text {
    position: absolute;
    left: 173px;
    top: 40px;
    width: 372px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: var(--text);
  }
}
</style>