<template>
  <div class="main-introduction">
    <p class="title">{{$t('main.introduction.title')}}</p>
    <div class="main-introduction__decorator-top">
      <Icon iconName="particle-arrow" />
    </div>
    <div class="main-introduction__list">
      <div class="main-introduction__item" :class="{ active: activeSlide == 0 }"
        :style="`z-index: ${Math.abs(4 - activeSlide)};`">
        <div class="main-introduction__wrapper">
          <div class="main-introduction__icon">
            <Icon iconName="lamp" />
          </div>
        </div>
        <p class="main-introduction__text">{{ componentData.text_1 }}</p>
      </div>
      <div class="main-introduction__item" :class="{ active: activeSlide == 1 }"
        :style="`z-index: ${activeSlide > 1 ? 3 : 3};`">
        <div class="main-introduction__wrapper">
          <div class="main-introduction__icon">
            <Icon iconName="list" />
          </div>
        </div>
        <p class="main-introduction__text">{{ componentData.text_2 }}</p>
      </div>
      <div class="main-introduction__item" :class="{ active: activeSlide == 2 }"
        :style="`z-index: ${activeSlide > 1 ? 3 : 2};`">
        <div class="main-introduction__wrapper">
          <div class="main-introduction__icon">
            <Icon iconName="archive" />
          </div>
        </div>
        <p class="main-introduction__text">{{ componentData.text_3 }}</p>
      </div>
      <div class="main-introduction__item" :class="{ active: activeSlide == 3 }">
        <div class="main-introduction__wrapper">
          <div class="main-introduction__icon">
            <Icon iconName="computer" />
          </div>
        </div>
        <p class="main-introduction__text">{{ componentData.text_4 }}</p>
      </div>
    </div>
    <div class="main-introduction__decorator-bottom">
      <Icon iconName="particle-arrow" />
    </div>
    <div class="main-introduction__controls">
      <div class="main-introduction__box" @click="activeSlide--" :class="{ disabled: activeSlide == 0 }">
        <div class="main-introduction__icon-control">
          <Icon iconName="arrow-left-small" />
        </div>
      </div>
      <div class="main-introduction__box" @click="activeSlide++" :class="{ disabled: activeSlide == 3 }">
        <div class="main-introduction__icon-control">
          <Icon iconName="arrow-right-small" />
        </div>
      </div>
    </div>
  </div>
</template>


<script setup>
const props = defineProps({
  componentData: {
    type: Object,
  }
})
const activeSlide = ref(0)
</script>

<style lang="scss" scoped>
.main-introduction {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 108px;

  &__list {
    position: relative;
    width: 100%;
  }

  &__wrapper {
    width: 112px;
    height: 112px;
    background-color: white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 8px;
    top: 8px;
    opacity: 0;
  }

  &__icon {
    width: 64px;
    height: 64px;
  }

  &__item {
    display: block;
    width: 320px;
    height: 130px;
    border-radius: 65px;
    position: absolute;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    // transition: all 0.5s ease;

    &.active {
      z-index: 10 !important;

      &>div {
        opacity: 1;
      }

      &>p {
        opacity: 1;
      }
    }

    &:nth-child(1) {
      left: 0;
      position: relative;
      padding-top: 16px;
      background-color: var(--color-1);
      color: var(--color-1);
      z-index: 4;
    }

    &:nth-child(2) {
      top: 16px;
      left: 5%;
      background-color: var(--color-2);
      color: var(--color-2);
      z-index: 3;
    }

    &:nth-child(3) {
      top: 32px;
      left: 10%;
      background-color: var(--color-3);
      color: var(--color-3);
      z-index: 2;
    }

    &:nth-child(4) {
      top: 48px;
      left: 15%;
      background-color: var(--color-4);
      color: var(--color-4);
      z-index: 1;
    }
  }

  &__decorator-top {
    margin-left: -60%;
    display: block;
    width: 100%;
    height: 170px;
    color: var(--color-4);
    padding-top: 30px;
  }

  &__decorator-bottom {
    margin-right: -60%;
    display: block;
    width: 100%;
    height: 190px;
    color: var(--color-3);
    transform: rotate(180deg);
  }

  &__particle {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__text {
    position: absolute;
    left: 133px;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 171px;
    // height: 100%;
    align-self: center;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: var(--text);
    opacity: 0;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 98px;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 64px;
    height: 64px;

    &.disabled {
      pointer-events: none;
    }
  }

  &__icon-control {
    width: 64px;
    height: 64px;
    color: var(--text);
  }
}
</style>