<template>
  <div class="main-models">
    <p class="title">{{$t('main.modelling.title')}}</p>
    <swiper :effect="'cards'" :navigation="{ prevEl: prev, nextEl: next }" @slideChange="onSlideChange"
      :centeredSlides="true" :cardsEffect="{
        perSlideOffset: 16, perSlideRotate: 0, slideShadows: false,
      }" :modules="[SwiperEffectCards, SwiperNavigation]" class="mySwiper">

      <swiper-slide>
        <div class="main-models__wrapper">
          <img src="@/assets/img/chart.svg">
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="main-models__wrapper">
          <img src="@/assets/img/gears.svg">
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="main-models__wrapper">
          <img src="@/assets/img/lamp.svg">
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="main-models__wrapper">
          <img src="@/assets/img/users.svg">
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="main-models__wrapper">
          <img src="@/assets/img/graph.svg">
        </div>
      </swiper-slide>
    </swiper>
    <div class="main-models__content">
      <div class="main-models__item" :class="{ active: activeSlide == 0 }">
        <p class="text text-center">{{componentData.text_1}}</p>
      </div>
      <div class="main-models__item" :class="{ active: activeSlide == 1 }">
        <p class="text text-center">{{componentData.text_2}}</p>
      </div>
      <div class="main-models__item" :class="{ active: activeSlide == 2 }">
        <p class="text text-center">{{componentData.text_3}}</p>
      </div>
      <div class="main-models__item" :class="{ active: activeSlide == 3 }">
        <p class="text text-center">{{componentData.text_4}}</p>
      </div>
      <div class="main-models__item" :class="{ active: activeSlide == 4 }">
        <p class="text text-center">{{componentData.text_5}}</p>
      </div>
    </div>
    <div class="main-models__chart">
      <div class="main-models__bar" v-for="(item, index) in 5" :key="index" :class="{ active: activeSlide == index }"></div>
    </div>
    <div class="main-models__controls">
      <div class="main-models__box" ref="prev">
        <div class="main-models__icon-control">
          <Icon iconName="arrow-left-small" />
        </div>
      </div>
      <div class="main-models__box" ref="next">
        <div class="main-models__icon-control">
          <Icon iconName="arrow-right-small" />
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
const props = defineProps({
  componentData: {
    type: Object,
  }
})
const activeSlide = ref(0)

const prev = ref(null);
const next = ref(null);

const onSlideChange = (swiper) => {
  activeSlide.value = swiper.activeIndex
};
</script>

<style lang="scss" scoped>
.swiper {
  width: 262px;
  height: 145px;
  margin-top: 40px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;  
}

.swiper-slide-active {
  .main-models__wrapper {
    transform: rotate(-45deg) scale(1.25);

    &>img {
      opacity: 1;
    }
  }
}

.swiper-slide:nth-child(1n) {
  .main-models__wrapper {
    background-color: var(--color-6);
  }
}

.swiper-slide:nth-child(2n) {
  .main-models__wrapper {
    background-color: var(--color-5);
  }
}

.swiper-slide:nth-child(3n) {
  .main-models__wrapper {
    background-color: var(--color-2);
  }
}

.swiper-slide:nth-child(4n) {
  .main-models__wrapper {
    background-color: var(--color-3);
  }
}

.swiper-slide:nth-child(5n) {
  .main-models__wrapper {
    background-color: var(--color-4);
  }
}

.main-models {
  $this: &;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__content {
    position: relative;
    width: 100%;
    height: 161px;
    margin-top: -20px;
  }

  &__item {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 70px;
    padding: 24px 17px;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease, opacity 0.3s ease;
    transform: translate(50px, -50px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

    &.active {
      transform: translate(0, 0);
      opacity: 1;
    }

    &:nth-child(1) {
      background-color: var(--color-6);
    }

    &:nth-child(2) {
      background-color: var(--color-5);
    }

    &:nth-child(3) {
      background-color: var(--color-2);
    }

    &:nth-child(4) {
      background-color: var(--color-3);
    }

    &:nth-child(5) {
      background-color: var(--color-4);
    }
  }

  &__wrapper {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    transform: rotate(-45deg);
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;

    &>img {
      transition: opacity 0.5s ease;
      transform: rotate(45deg);
      width: 50px;
      height: 50px;
      object-fit: scale-down;
      opacity: 0;
    }
  }

  &__chart {
    width: calc(100% - 60px);
    height: 200px;
    border-left: 5px solid var(--additional);
    border-bottom: 5px solid var(--additional);
    display: grid;
    align-items: end;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    padding: 15px 25px;
    margin-top: 24px;

  }

  &__bar {
    width: 100%;
    transition: height 0.5s ease;

    &.active {
      height: 165px !important;
    }
    
    border-radius: 20px 20px 0px 0px;
    &:nth-child(1) {
      background-color: var(--color-6);
      height: 100px;
    }
    &:nth-child(2) {
      background-color: var(--color-5);
      height: 120px;
    }
    &:nth-child(3) {
      background-color: var(--color-2);
      height: 140px;
    }
    &:nth-child(4) {
      background-color: var(--color-3);
      height: 100px;
    }
    &:nth-child(5) {
      background-color: var(--color-4);
      height: 120px;
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 70px;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 64px;
    height: 64px;

    &.disabled {
      pointer-events: none;
    }
  }

  &__icon-control {
    width: 64px;
    height: 64px;
    color: var(--text);
  }
}
</style>