<template>
  <div class="main-models">
    <div class="circle-bg"></div>
    <p class="title">{{$t('main.modelling.title')}}</p>
    <div class="main-models__list">
      <div class="main-models__item one">
        <div class="main-models__wrapper">
          <img src="@/assets/img/users.svg">
        </div>
        <div class="main-models__container">
          <span class="text">{{componentData.text_1}}</span>
        </div>
      </div>
      <div class="main-models__item two">
        <div class="main-models__wrapper">
          <img src="@/assets/img/lamp.svg">
        </div>
        <div class="main-models__container">
          <span class="text">{{componentData.text_2}}</span>
        </div>
      </div>
      <div class="main-models__item three">
        <div class="main-models__wrapper">
          <img src="@/assets/img/gears.svg">
        </div>
        <div class="main-models__container">
          <span class="text">{{componentData.text_3}}</span>
        </div>
      </div>
      <div class="main-models__item four">
        <div class="main-models__wrapper">
          <img src="@/assets/img/chart.svg">
        </div>
        <div class="main-models__container">
          <span class="text">{{componentData.text_4}}</span>
        </div>
      </div>
      <div class="main-models__item five">
        <div class="main-models__wrapper">
          <img src="@/assets/img/graph.svg">
        </div>
        <div class="main-models__container">
          <span class="text">{{componentData.text_5}}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
const props = defineProps({
  componentData: {
    type: Object,
  }
})
</script>

<style lang="scss" scoped>
.main-models {
  $this: &;
  position: relative;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 56px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__item {
    position: relative;

    &:hover {
      #{$this}__container {
        background-color: var(--text) !important;

        &>span {
          color: var(--text-black) !important;
        }
      }

      #{$this}__wrapper {
        transform: rotate(0deg);

        &>img {
          transform: rotate(0deg);
        }
      }
    }

    &.one {
      &>div {
        background-color: var(--color-1);
        z-index: 5;
      }
    }

    &.two {
      &>div {
        background-color: var(--color-2);
        z-index: 4;
      }
    }

    &.three {
      &>div {
        background-color: var(--color-3);
        z-index: 3;
      }
    }

    &.four {
      &>div {
        background-color: var(--color-4);
        z-index: 2;
      }
    }

    &.five {
      &>div {
        background-color: var(--color-5);
        z-index: 1;
      }
    }
  }



  &__wrapper {
    position: absolute;
    top: calc(50% - 60px);
    left: -8px;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    transform: rotate(-45deg);
    box-shadow: 7px 0 15px rgba(0, 0, 0, 0.4);
    transition: transform 0.5s ease;

    &>img {
      transition: transform 0.5s ease;
      transform: rotate(45deg);
      width: 100px;
      height: 100px;
      object-fit: scale-down;
    }
  }

  &__container {
    width: 670px;
    height: 118px;
    display: flex;
    align-items: center;
    padding-left: 152px;
    padding-right: 40px;
    border-radius: 50px;
    box-shadow: 7px 0 15px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s ease;

    &>span {
      color: var(--text);
      z-index: 1;
      transition: color 0.3s ease;
    }
  }
}
</style>