<template>
  <div class="main-principle padding">
    <div class="main-principle__desktop">
      <div class="main-principle__bg"></div>
      <div class="main-principle__circle">
        <p class="main-principle__title">{{componentData.title}}</p>
        <p class="main-principle__description">{{componentData.description}}</p>
      </div>
      <div class="main-principle__particle one">
        <svg width="1000" height="344" viewBox="0 0 1000 344" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_d_418_1032)">
            <path
              d="M906.504 8H594.461C544.529 8 503.747 47.1986 501.114 96.5397H229.847C104.776 96.5397 2.68851 197.083 0 321.684H10.1474C12.837 202.673 110.358 106.7 229.847 106.7H501.114C503.758 156.033 544.534 195.222 594.461 195.222H906.504C958.139 195.222 999.999 153.31 999.999 101.61C999.999 49.9103 958.139 8 906.504 8Z"
              fill="currentColor" />
          </g>
          <defs>
            <filter id="filter0_d_418_1032" x="-8" y="0" width="1030" height="343.684" filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha" />
              <feOffset dx="7" dy="7" />
              <feGaussianBlur stdDeviation="7.5" />
              <feComposite in2="hardAlpha" operator="out" />
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.4 0" />
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_418_1032" />
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_418_1032" result="shape" />
            </filter>
          </defs>
        </svg>
        <div class="main-principle__content one">
          <p class="main-principle__subtitle">{{componentData.principle_title_1}}</p>
          <p class="main-principle__text">{{componentData.principle_description_1}}</p>
        </div>
      </div>
      <div class="main-principle__particle three">
        <svg width="713" height="451" viewBox="0 0 713 451" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_d_418_1033)">
            <path
              d="M619.504 125.159H307.461C257.534 125.159 216.751 164.353 214.113 213.688H172.702C170.718 122.577 115.653 44.3256 37.2711 8.86133H8.90625C97.9309 37.0073 162.646 120.455 162.646 218.761C162.646 317.073 97.9309 400.545 8.90625 428.689H37.2711C115.653 393.228 170.713 314.958 172.702 223.848H214.113C216.751 273.186 257.534 312.378 307.461 312.378H619.504C671.139 312.378 712.999 270.469 712.999 218.77C712.999 167.069 671.139 125.159 619.504 125.159Z"
              fill="currentColor" />
          </g>
          <defs>
            <filter id="filter0_d_418_1033" x="0.90625" y="0.861328" width="734.094" height="449.828"
              filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha" />
              <feOffset dx="7" dy="7" />
              <feGaussianBlur stdDeviation="7.5" />
              <feComposite in2="hardAlpha" operator="out" />
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.4 0" />
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_418_1033" />
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_418_1033" result="shape" />
            </filter>
          </defs>
        </svg>
        <div class="main-principle__content three">
          <p class="main-principle__subtitle">{{componentData.principle_title_2}}</p>
          <p class="main-principle__text">{{componentData.principle_description_2}}</p>
        </div>
      </div>
      <div class="main-principle__particle two">
        <svg width="1000" height="345" viewBox="0 0 1000 345" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_d_418_1034)">
            <path
              d="M906.504 135.316H594.461C544.534 135.316 503.752 174.513 501.114 223.851H229.847C110.358 223.851 12.837 127.85 10.1474 8.83984H0C2.68851 133.467 104.776 234.011 229.847 234.011H501.114C503.752 283.344 544.534 322.536 594.461 322.536H906.504C958.139 322.536 999.999 280.626 999.999 228.928C999.999 177.227 958.139 135.316 906.504 135.316Z"
              fill="currentColor" />
          </g>
          <defs>
            <filter id="filter0_d_418_1034" x="-8" y="0.839844" width="1030" height="343.696" filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha" />
              <feOffset dx="7" dy="7" />
              <feGaussianBlur stdDeviation="7.5" />
              <feComposite in2="hardAlpha" operator="out" />
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.4 0" />
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_418_1034" />
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_418_1034" result="shape" />
            </filter>
          </defs>
        </svg>
        <div class="main-principle__content two">
          <p class="main-principle__subtitle">{{componentData.principle_title_3}}</p>
          <p class="main-principle__text">{{componentData.principle_description_3}}</p>
        </div>
      </div>
    </div>

  </div>
</template>

<script setup>
const props = defineProps({
  componentData: {
    type: Object,
  }
})
</script>

<style lang="scss" scoped>
.main-principle {
  display: flex;
  justify-content: center;

  &__desktop {
    width: 1000px;
    position: relative;
    display: flex;
  }


  &__circle {
    width: 395px;
    height: 395px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-1);
    border-radius: 100%;
    margin-left: 32px;
  }

  &__title {
    padding-top: 60px;
    position: relative;
    max-width: 200px;
    font-size: 34px;
    line-height: 42px;
    font-weight: 700;
    text-align: center;
    color: var(--text);
    font-family: "Inter", sans-serif;
    margin-bottom: 24px;

    &::after {
      content: '';
      position: absolute;
      width: 200px;
      height: 6px;
      bottom: -16px;
      left: calc(50% - 100px);
      background-color: var(--text);
    }
  }

  &__description {
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: var(--gray-6);
    text-align: center;
    width: 344px;
  }

  &__particle {
    position: absolute;
    right: 0px;
    cursor: default;

    &:has(.main-principle__content:hover) {
      color: var(--text);
    }

    &.one {
      color: var(--color-1);
      top: -129px;
    }

    &.two {
      color: var(--color-2);
      bottom: -150px;
    }

    &.three {
      color: var(--color-3);
      top: -20px;
    }
  }

  &__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 26px 0 56px;
    gap: 10px;
    right: 0;
    width: 498px;
    height: 187px;
    border-radius: 100px;
    z-index: 3;
    transition: transform 0.5s ease, background-color 0.3s ease;

    &:hover {
      p {
        color: var(--text-black);
      }

      background-color: var(--text) !important;

      transform: scale(1.1);

    }

    &.one {
      top: 8px;
      background-color: var(--color-1);
      // right: 36px;
    }

    &.two {
      bottom: 27px;
      background-color: var(--color-2);
    }

    &.three {
      top: 125px;
      background-color: var(--color-3);
    }
  }

  &__subtitle {
    font-size: 22px;
    line-height: 26px;
    font-weight: 500;
    color: var(--text);
    font-family: "Inter", sans-serif;
    transition: color 0.3s ease;
  }

  &__text {
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: var(--text);
    transition: color 0.3s ease;
  }

  &__bg {
    width: 734px;
    height: 734px;
    position: absolute;
    bottom: calc(50% - 367px);
    left: calc(50% - 367px);
    background-color: var(--transparent);
    border-radius: 100%;
    z-index: -1;
  }
}
</style>