<template>
  <div class="main-principle padding">
    <div class="main-principle__circle" :class="`${activeColor}`">
      <p class="main-principle__title">{{componentData.title}}</p>
      <p class="main-principle__description">{{componentData.description}}</p>
    </div>
    <div class="main-principle__cards">
      <div class="main-principle__card" :class="{ active: activeSlide == 0 }" :style="`z-index: ${Math.abs(2 - activeSlide)};`">
        <p class="main-principle__subtitle">{{componentData.principle_title_1}}</p>
        <p class="main-principle__text">{{componentData.principle_description_1}}</p>
      </div>
      <div class="main-principle__card" :class="{ active: activeSlide == 1 }" :style="`z-index: ${Math.abs(3 - activeSlide)};`">
        <p class="main-principle__subtitle">{{componentData.principle_title_2}}</p>
        <p class="main-principle__text">{{componentData.principle_description_2}}</p>
      </div>
      <div class="main-principle__card" :class="{ active: activeSlide == 2 }" :style="`z-index: ${Math.abs(2 - activeSlide)};`">
        <p class="main-principle__subtitle">{{componentData.principle_title_3}}</p>
        <p class="main-principle__text">{{componentData.principle_description_3}}</p>
      </div>
    </div>  
    <div class="main-principle__controls">
      <div class="main-principle__box" @click="activeSlide--" :class="{ disabled: activeSlide == 0 }">
        <div class="main-principle__icon-control">
          <Icon iconName="arrow-left-small" />
        </div>
      </div>
      <div class="main-principle__box" @click="activeSlide++" :class="{ disabled: activeSlide == 5 }">
        <div class="main-principle__icon-control">
          <Icon iconName="arrow-right-small" />
        </div>
      </div>
    </div>  
  </div>
</template>

<script setup>
const props = defineProps({
  componentData: {
    type: Object,
  }
})

const activeSlide = ref(0)
const activeColor = computed(() => { 
  return (activeSlide.value == 0) ? 'one' : (activeSlide.value == 1) ? 'two' : 'three'
 })
</script>

<style lang="scss" scoped>
.main-principle {
  position: relative;
  display: flex;
  flex-direction: column;

  &__circle {
    align-self: center;
    width: calc(100% - 32px);
    aspect-ratio: 1/1;
    height: calc(100% - 32px);
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    background-color: var(--color-1);
    border-radius: 100%;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: calc(100% + 32px);
      height: calc(100% + 32px);      
      top: -16px;
      border-radius: 100%;
      transition: border 0.5s ease;
    }

    &.one {
      &::after {
        border: 6px solid var(--color-5);
      }
    }
    &.two {
      &::after {
        border: 6px solid var(--color-3);
      }
    }
    &.three {
      &::after {
        border: 6px solid var(--color-4);
      }
    }
  }

  &__title {
    position: relative;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    color: var(--text);
    font-family: "Inter", sans-serif;
    margin-bottom: 30px;

    &::after {
      content: '';
      position: absolute;
      width: 152px;
      height: 3px;
      bottom: -16px;
      left: calc(50% - 76px);
      background-color: var(--text);
    }
  }

  &__description {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: var(--gray-6);
    text-align: center;
    padding: 0 40px;
  }

  &__cards {
    position: relative;
    height: 210px;
    padding-top: 15%;
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    border-radius: 105px;
    position: absolute;
    width: calc(100% - 32px);
    height: 100%;
    padding: 0 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    transition: z-index 0.5s ease;
    &::after {
      transition: opacity 0.5s ease;
    }

    &.active {
      z-index: 10 !important;
      &::after {
        opacity: 1 !important;
      }
    }

    &:nth-child(1) {
      background-color: var(--color-5);
      z-index: 3;
      left: 0;
      &::after {
        position: absolute;
        content: '';
        width: 6px;
        height: 160%;
        background-color: var(--color-5);
        left: 0;
        bottom: 105px;
        opacity: 0;
      }
    }
    &:nth-child(2) {
      background-color: var(--color-3);
      z-index: 2;
      left: 0;
      right: 0;
      margin: 0 auto;
      // &::after {
      //   position: absolute;
      //   content: '';
      //   width: 6px;
      //   height: 50px;
      //   background-color: var(--color-3);
      //   left: 0;
      //   right: 0;
      //   margin: 0 auto;
      //   top: -50px;
      //   opacity: 0;
      // }
    }
    &:nth-child(3) {
      background-color: var(--color-4);
      z-index: 1;
      right: 0;
      &::after {
        position: absolute;
        content: '';
        width: 6px;
        height: 160%;
        background-color: var(--color-4);
        right: 0;
        bottom: 105px;
        opacity: 0;
      }
    }
  }  

  &__subtitle {
    font-size: 22px;
    line-height: 26px;
    font-weight: 500;
    color: var(--text);
    font-family: "Inter", sans-serif;
    transition: color 0.3s ease;
  }

  &__text {
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
    color: var(--text);
    transition: color 0.3s ease;
  }  

  &__controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 98px;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 64px;
    height: 64px;

    &.disabled {
      pointer-events: none;
    }
  }

  &__icon-control {
    width: 64px;
    height: 64px;
    color: var(--text);
  }
}
</style>