<template>
  <div class="main-qualities">
    <div class="main-qualities__decorator">
      <div class="main-qualities__icon">
        <Icon iconName="arr" />
      </div>
      <div class="main-qualities__icon">
        <Icon iconName="arr" />
      </div>
      <div class="main-qualities__icon">
        <Icon iconName="arr" />
      </div>
      <div class="main-qualities__icon">
        <Icon iconName="arr" />
      </div>
    </div>
    <p class="title">{{$t('main.qualities.title')}}</p>
    <swiper :effect="'coverflow'" :slidesPerView="'auto'" :navigation="{ prevEl: prev, nextEl: next }"
      @slideChange="onSlideChange" :centeredSlides="true" :coverflowEffect="{
        rotate: 0,
        stretch: 100,
        depth: 288,
        modifier: 1,
        slideShadows: false,
      }" :modules="[SwiperEffectCoverflow, SwiperNavigation]" class="mySwiper">

      <swiper-slide>
        <div class="main-qualities__wrapper">
          <img src="@/assets/img/brain.svg">
        </div>
        <p class="text text-center">{{componentData.text_2}}</p>
      </swiper-slide>
      <swiper-slide>
        <div class="main-qualities__wrapper">
          <img src="@/assets/img/home.svg">
        </div>
        <p class="text text-center">{{componentData.text_1}}</p>
      </swiper-slide>
      <swiper-slide>
        <div class="main-qualities__wrapper">
          <img src="@/assets/img/bars.svg">
        </div>
        <p class="text text-center">{{componentData.text_4}}</p>
      </swiper-slide>
      <swiper-slide>
        <div class="main-qualities__wrapper">
          <img src="@/assets/img/gears.svg">
        </div>
        <p class="text text-center">{{componentData.text_3}}</p>
      </swiper-slide>

    </swiper>
    <div class="main-qualities__decorator bottom">
      <div class="main-qualities__icon">
        <Icon iconName="arr" />
      </div>
      <div class="main-qualities__icon">
        <Icon iconName="arr" />
      </div>
      <div class="main-qualities__icon">
        <Icon iconName="arr" />
      </div>
      <div class="main-qualities__icon">
        <Icon iconName="arr" />
      </div>
    </div>
    <div class="main-qualities__controls">
      <div class="main-qualities__box" ref="prev">
        <div class="main-qualities__icon-control">
          <Icon iconName="arrow-left-small" />
        </div>
      </div>
      <div class="main-qualities__box" ref="next">
        <div class="main-qualities__icon-control">
          <Icon iconName="arrow-right-small" />
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
const props = defineProps({
  componentData: {
    type: Object,
  }
})

const activeSlide = ref(0)

const prev = ref(null);
const next = ref(null);

const onSlideChange = (swiper) => {
  activeSlide.value = swiper.activeIndex
};
</script>
<style lang="scss" scoped>
.swiper {
  // width: calc(100vw - 32px);
  // overflow: visible;
  // height: 145px;
  margin-top: 20px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  width: 161px;
  height: 188px;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

  &>div {
    opacity: 0;
  }

  &>p {
    opacity: 0;
  }
}

.swiper-slide-prev {
  width: 195px !important;
  height: 228px !important;
}

.swiper-slide-next {
  width: 195px;
  height: 228px
}

.swiper-slide-active {
  width: 240px;
  height: 280px;

  &>div {
    opacity: 1;
  }

  &>p {
    opacity: 1;
  }
}

.swiper-slide:nth-child(1n) {
  background-color: var(--color-3);
}

.swiper-slide:nth-child(2n) {
  background-color: var(--color-2);
}
.swiper-slide:nth-child(3n) {
  background-color: var(--color-4);
}
.swiper-slide:nth-child(4n) {
  background-color: var(--color-5);
}

.main-qualities {
  padding-top: 96px;
  position: relative;
  &__wrapper {
    width: 84px;
    height: 84px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 146px;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 64px;
    height: 64px;

    &.disabled {
      pointer-events: none;
    }
  }

  &__icon-control {
    width: 64px;
    height: 64px;
    color: var(--text);
  }

  &__decorator {
    display: flex;
    position: absolute;
    // margin-left: 20px;    
    left: -15%;
    top: 0;
    &.bottom {
      transform: rotate(180deg);
      left: unset;
      right: -15%;
      top: unset;
      bottom: 90px;
    }
  }

  &__icon {
    width: 153px;
    height: 56px;
    margin-left: -16px;
    flex-shrink: 0;
    

    &:nth-child(1) {
      color: var(--color-2);
    }
    &:nth-child(2) {
      color: var(--color-3);
    }
    &:nth-child(3) {
      color: var(--color-4);
    }
    &:nth-child(4) {
      color: var(--color-5);
    }
  }



}</style>