<template>
  <div class="main-qualities">
    <div class="circle-bg"></div>
    <div class="main-qualities__circle">
      <p class="main-qualities__title title">{{ $t('main.qualities.title') }}</p>      
      <div>
        <div class="main-qualities__particle one">
          <img src="@/assets/img/main-qualities/01.svg">
          <div class="main-qualities__flex top">
            <span :style="`padding-right: ${index * 20}px;`" v-for="(row, index) in text1" :key="index">{{ row }}</span>
          </div>          
        </div>
        <div class="main-qualities__particle two">
          <img src="@/assets/img/main-qualities/02.svg">
          <div class="main-qualities__flex top">
            <span :style="`padding-left: ${index * 20}px;`" v-for="(row, index) in text2" :key="index">{{ row }}</span>
          </div>          
        </div>
        <div class="main-qualities__particle three">
          <img src="@/assets/img/main-qualities/03.svg">
          <div class="main-qualities__flex three">
            <span :style="`padding-right: ${index * 20}px;`" v-for="(row, index) in text3" :key="index">{{ row }}</span>
          </div>          
        </div>
        <div class="main-qualities__particle four">
          <img src="@/assets/img/main-qualities/04.svg">
          <div class="main-qualities__flex four">
            <span :style="`padding-left: ${index * 20}px;`" v-for="(row, index) in text4" :key="index">{{ row }}</span>
          </div>          
        </div>        
      </div>

    </div>
  </div>
</template>

<script setup>
const props = defineProps({
  componentData: {
    type: Object,
  }
})

const text1 = ref(props.componentData.text_1.split('\n'))
const text2 = ref(props.componentData.text_2.split('\n'))
const text3 = ref(props.componentData.text_3.split('\n'))
const text4 = ref(props.componentData.text_4.split('\n'))
</script>

<style lang="scss" scoped>
.main-qualities {
  display: flex;
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
  position: relative;

  &__circle {
    width: 734px;
    height: 734px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__flex {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    align-items: center;
    justify-content: center;

    &.three {
      height: 100%;
      width: 70%;
      left: unset;
      right: 0;
    }

    &.four {      
      width: 70%;
      height: 100%;
    }
  }

  &__title {
    text-align: center;
    max-width: 300px;
  }

  &__particle {
    position: absolute;
    transition: transform 0.3s ease;

    &.one {
      top: -16px;
      left: -16px;

      &:hover {
        transform: translate(-16px, -16px);
      }

    }

    &.two {
      top: -16px;
      right: -16px;

      &:hover {
        transform: translate(16px, -16px);
      }
    }

    &.three {
      bottom: -16px;
      right: -16px;

      &:hover {
        transform: translate(16px, 16px);
      }
    }

    &.four {
      bottom: -16px;
      left: -16px;

      &:hover {
        transform: translate(-16px, 16px);
      }
    }
  }
}
</style>