<template>
  <div class="main-quotes padding">
    <p class="main-quotes__title">{{ $t('main.qotes.title') }}</p>
    <Swiper :modules="[SwiperAutoplay, SwiperNavigation]" :slides-per-view="1" :loop="true"
      :navigation="{ prevEl: prev, nextEl: next }" :autoplay="{
        delay: 8000,
        disableOnInteraction: true,
      }">
      <SwiperSlide v-for="quote in componentData" :key="quote.id">
        <div class="main-quotes__slide">
          <p class="main-quotes__subtitle">{{ quote.title }}</p>
          <img class="main-quotes__image" :src="url + quote?.image?.data?.attributes?.url" alt="">
          <div class="main-quotes__container">
            <p class="text">{{ quote.quote }}</p>
            <a target="_blanc" :href="quote.link" class="main-quotes__link">
              <div class="main-quotes__icon">
                <Icon iconName="link" />
              </div>
            </a>
          </div>
        </div>
      </SwiperSlide>
    </Swiper>
    <div class="main-quotes__controls">
      <div class="main-quotes__box" ref="prev">
        <div class="main-quotes__icon">
          <Icon iconName="arrow-left-small" />
        </div>
      </div>
      <div class="main-quotes__box" ref="next">
        <div class="main-quotes__icon">
          <Icon iconName="arrow-right-small" />
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
const config = useRuntimeConfig();
const props = defineProps({
  componentData: {
    type: Array,
  }
})
const prev = ref(null);
const next = ref(null);

const url = process.dev ? config.public.API_URL : `${location.origin}/cms`
</script>

<style lang="scss" scoped>
.swiper-slide-active {
  display: block;
}

.main-quotes {
  position: relative;

  &__title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    padding-bottom: 16px;
  }

  &__subtitle {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    padding-bottom: 30px;
  }

  &__slide {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__image {
    padding-bottom: 10px;
    width: 100%;
    height: 261px;
    object-fit: cover;
  }

  &__controls {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 32px);
    z-index: 10;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 64px;
    height: 64px;


  }

  &__container {
    height: 280px;
    flex-shrink: 0;
  }

  &__link {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
  }

  &__icon {
    width: 64px;
    height: 64px;
    color: var(--text);
  }
}
</style>