<template>
  <div class="main-quotes padding">
    <p class="main-quotes__title">{{$t('main.qotes.title')}}</p>
    <div class="main-quotes__controls">
      <div class="main-quotes__box" ref="prev">
        <div class="main-quotes__icon">
          <Icon iconName="arrow-left"  />
        </div>
      </div>
      <div class="main-quotes__box" ref="next">
        <div class="main-quotes__icon">
          <Icon iconName="arrow-right" />
        </div>
      </div>
    </div>
    <Swiper :modules="[SwiperAutoplay, SwiperEffectFade, SwiperNavigation]" :slides-per-view="1" :loop="true" 
      :effect="'fade'" :navigation="{prevEl: prev, nextEl: next}" :autoplay="{
        delay: 8000,
        disableOnInteraction: true,
      }"
      :fade-effect="{ crossFade : true,}">
      <SwiperSlide v-for="quote in componentData" :key="quote.id">
        <div class="main-quotes__slide">
          <img class="main-quotes__image" :src="url + quote?.image?.data?.attributes?.url" alt="">
          <p class="main-quotes__text">{{quote.title}}</p>
          <div class="main-quotes__container">
            <p class="main-quotes__subtext">{{quote.quote}}</p>
            <a target="_blanc" :href="quote.link"
              class="main-quotes__subtext link">{{$t('main.qotes.link')}}</a>
          </div>
        </div>
      </SwiperSlide>      
    </Swiper>
  </div>
</template>

<script setup>
const config = useRuntimeConfig();
const props = defineProps({
  componentData: {
    type: Array,
  }
})

const prev = ref(null);
const next = ref(null);

const url = process.dev ? config.public.API_URL : `${location.origin}/cms`
</script>

<style lang="scss" scoped>

.swiper-slide-active {
  display: block;
}
.main-quotes {
  position: relative;

  &__title {
    font-size: 34px;
    line-height: 42px;
    font-weight: 700;
    color: var(--text);
    max-width: 602px;
  }

  &__container {
    position: absolute;
    bottom: -60px;
    right: 0;
    width: 735px;
    padding: 20px;
    background-color: var(--transparent);
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__text {
    font-size: 22px;
    line-height: 26px;
    font-weight: 500;
    color: var(--text);
    font-family: "Inter", sans-serif;
    max-width: 337px;
    width: 100%;
    flex-shrink: 1;
    flex-grow: 1;
  }

  &__subtext {
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: var(--text);

    &.link {
      align-self: flex-end;
      text-decoration: underline;
      text-underline-offset: 4px;

      &:hover {
        color: var(--red);
      }
    }
  }

  &__slide {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 60px;
  }

  &__image {
    width: 100%;
    height: 412px;
    object-fit: cover;
  }

  &__controls {
    position: absolute;
    top: 255px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 603px;
    z-index: 10;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100px;
    height: 100px;
  }

  &__icon {
    width: 48px;
    height: 84px;
    color: var(--text);
  }
}
</style>