<template>
  <div class="main-team">
    <div class="main-team__bg"></div>
    <p class="title" style="padding-top: 140px">Наша команда</p>
    <div class="main-team__content">
      <swiper :effect="'coverflow'" :centeredSlides="true" :slidesPerView="'auto'" :coverflowEffect="{
        rotate: 0,
        stretch: 0,
        depth: 300,
        modifier: 2,
        slideShadows: true,
      }" :modules="[SwiperEffectCoverflow]" class="mySwiper">
        <swiper-slide>
          <div class="main-team__slide">
            <div class="main-team__card">
              <div class="main-team__wrapper">
                <img src="@/assets/img/main-team/person-1.jpg" alt="">
              </div>
              <div class="main-team__person">
                <p class="main-team__title">Иванов</p>
                <p class="main-team__subtitle">Иван Иванович</p>
              </div>
            </div>
            <p class="main-team__text">Доктор социологических наук, профессор, заведующий кафедрой социологии проектной
              деятельности
              и проконкурентного регулирования ННГУ им. Н.И. Лобачевского
            </p>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="main-team__slide">
            <div class="main-team__card">
              <div class="main-team__wrapper">
                <img src="@/assets/img/main-team/person-1.jpg" alt="">
              </div>
              <div class="main-team__person">
                <p class="main-team__title">Иванов</p>
                <p class="main-team__subtitle">Иван Иванович</p>
              </div>
            </div>
            <p class="main-team__text ">Доктор социологических наук, профессор, заведующий кафедрой социологии проектной
              деятельности
              и проконкурентного регулирования ННГУ им. Н.И. Лобачевского
            </p>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="main-team__slide">
            <div class="main-team__card">
              <div class="main-team__wrapper">
                <img src="@/assets/img/main-team/person-1.jpg" alt="">
              </div>
              <div class="main-team__person">
                <p class="main-team__title">Иванов</p>
                <p class="main-team__subtitle">Иван Иванович</p>
              </div>
            </div>
            <p class="main-team__text">Доктор социологических наук, профессор, заведующий кафедрой социологии проектной
              деятельности
              и проконкурентного регулирования ННГУ им. Н.И. Лобачевского
            </p>
          </div>
        </swiper-slide>
      </swiper>
    </div>
  </div>
</template>

<script setup>
// import { EffectCards } from 'swiper/modules/effect-cards/effect-cards.js';
import 'swiper/css';

import 'swiper/css/effect-coverflow';

</script>

<style lang="scss" scoped>

.swiper {
  overflow: visible;
}
.swiper-slide {
  width: 326px;
  padding-top: 160px;
  height: 471px;
}

.swiper-slide-active {
  .main-team__text {
    display: block;
  }
}

.main-team {
  position: relative;
  height: 972px;
  gap: 35px;
  display: flex;
  flex-direction: column;

  &__bg {
    width: 100%;
    aspect-ratio: 1/1;
    height: 100%;
    position: absolute;
    background-color: var(--transparent);
    border-radius: 120px;
    z-index: -1;
  }

  &__slide {

    display: block;
  }

  &__card {
    position: relative;
    width: 326px;
    height: 312px;
    background-color: var(--color-2);
  }

  &__wrapper {
    border-radius: 100%;
    overflow: hidden;
    border: 10px solid white;
    display: block;
    width: 280px;
    height: 280px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -156px;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.4);

    &>img {
      width: 260px;
      height: 260px;
    }
  }

  &__person {
    position: absolute;
    bottom: 40px;
    background-color: var(--color-4);
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
  }

  &__title {
    font-size: 34px;
    line-height: 42px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
  }

  &__subtitle {
    font-size: 22px;
    line-height: 26px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
  }

  &__text {
    position: absolute;
    font-size: 22px;
    line-height: 26px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    bottom: -160px;
    left: 0;
    width: 470px;
    display: none;
  }
}
</style>