<template>
  <div class="main-team">
    <p class="title" style="padding-top: 140px">Наша команда</p>
    <div class="main-team__content">
      <swiper :effect="'coverflow'" :navigation="{ prevEl: prev, nextEl: next }" :centeredSlides="true" :slidesPerView="'auto'" :coverflowEffect="{
        rotate: 0,
        stretch: 100,
        depth: 300,
        modifier: 2,
        slideShadows: true,
      }" :modules="[SwiperEffectCoverflow, SwiperNavigation]" class="mySwiper">
        <swiper-slide>
          <div class="main-team__slide">
            <div class="main-team__card">
              <div class="main-team__wrapper">
                <img src="@/assets/img/main-team/person-1.jpg" alt="">
              </div>
              <div class="main-team__person">
                <p class="main-team__title">Иванов</p>
                <p class="main-team__subtitle">Иван Иванович</p>
              </div>
            </div>
            <p class="main-team__text">Доктор социологических наук, профессор, заведующий кафедрой социологии проектной
              деятельности
              и проконкурентного регулирования ННГУ им. Н.И. Лобачевского
            </p>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="main-team__slide">
            <div class="main-team__card">
              <div class="main-team__wrapper">
                <img src="@/assets/img/main-team/person-1.jpg" alt="">
              </div>
              <div class="main-team__person">
                <p class="main-team__title">Иванов</p>
                <p class="main-team__subtitle">Иван Иванович</p>
              </div>
            </div>
            <p class="main-team__text ">Доктор социологических наук, профессор, заведующий кафедрой социологии проектной
              деятельности
              и проконкурентного регулирования ННГУ им. Н.И. Лобачевского
            </p>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="main-team__slide">
            <div class="main-team__card">
              <div class="main-team__wrapper">
                <img src="@/assets/img/main-team/person-1.jpg" alt="">
              </div>
              <div class="main-team__person">
                <p class="main-team__title">Иванов</p>
                <p class="main-team__subtitle">Иван Иванович</p>
              </div>
            </div>
            <p class="main-team__text">Доктор социологических наук, профессор, заведующий кафедрой социологии проектной
              деятельности
              и проконкурентного регулирования ННГУ им. Н.И. Лобачевского
            </p>
          </div>
        </swiper-slide>
      </swiper>
    </div>
    <div class="main-team__controls">
      <div class="main-team__box" ref="prev">
        <div class="main-team__icon-control">
          <Icon iconName="arrow-left-small" />
        </div>
      </div>
      <div class="main-team__box" ref="next">
        <div class="main-team__icon-control">
          <Icon iconName="arrow-right-small" />
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
const prev = ref(null);
const next = ref(null);
</script>

<style lang="scss" scoped>
.swiper {
  overflow: visible;
}

.swiper-slide {
  width: 326px;
  padding-top: 160px;
  height: 471px;
  opacity: 0.5;
  filter: blur(5px);
}

.swiper-slide-active {
  opacity: 1;
  filter: unset;

  .main-team__text {
    display: block;
  }
}

.main-team {
  position: relative;
  height: 972px;
  gap: 35px;
  display: flex;
  flex-direction: column;

  &__slide {
    display: block;
  }

  &__card {
    position: relative;
    width: 100%;
    height: 280px;
    background-color: var(--color-2);
  }

  &__wrapper {
    border-radius: 100%;
    overflow: hidden;
    border: 10px solid white;
    display: block;
    width: calc(100% - 40px);
    aspect-ratio: 1/1;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -156px;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.4);

    &>img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__person {
    position: absolute;
    bottom: 35px;
    background-color: var(--color-4);
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 22px;
  }

  &__title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
  }

  &__subtitle {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
  }

  &__text {
    position: absolute;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    bottom: -80px;
    left: 0;
    width: 100%;
    display: none;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 98px;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 64px;
    height: 64px;

    &.disabled {
      pointer-events: none;
    }
  }

  &__icon-control {
    width: 64px;
    height: 64px;
    color: var(--text);
  }
}
</style>