<template>
  <nuxt-link :to="localePath('/articles/' + article.attributes.slug)" class="article">    
    <div class="article__wrapper">
      <img class="article__image" :src="imageUrl" :alt="article.attributes.title">
      <img class="article__particle" src="@/assets/img/card-particle.svg">
    </div>
    <p class="text">{{ article.attributes.title }}</p>
  </nuxt-link>
</template>

<script setup>
const localePath = useLocalePath();
const config = useRuntimeConfig();
const props = defineProps({
  article: {
    type: Object,
  },
});

const imageUrl = computed(() => {
  return props.article.attributes.cover.data ? (process.dev ? config.public.API_URL : `${location.origin}/cms`) + props.article.attributes.cover.data?.attributes.url : '/image-missing.svg'
})
</script>
<style lang="scss" scoped>
.article {
  $this: &;
  background-color: var(--transparent);
  padding: 20px;
  border-radius: 32px;
  transition: background-color 0.3s ease, transform 0.5s ease;

  &:hover {
    transform: scale(1.1);

    #{$this}__particle {
      transform: scaleY(1.1);
    }
  }

  @media (max-width: $mobile) {
    transform: scale(1) !important;

    #{$this}__particle {
      transform: scaleY(1) !important;
    }
  }


  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    margin-bottom: 8px;
  }

  &__particle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
  }

  &__image {
    display: block;
    width: 80%;
    object-fit: contain;
    aspect-ratio: 1 / 1;
  }

  &__text {
    color: var(--text);
    font-size: 1px;
    font-weight: 600;
    height: 50px;
    overflow: hidden;
  }
}
</style>
