<template>
  <div class="background" id="element"></div>
</template>

<script setup>
// import { VANTA } from "vanta"

// useHead({
  // script: [
  //   {
  //     src: "https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js",
  //     type: "text/javascript",
  //   },
  //   {
  //     src: "https://cdn.jsdelivr.net/npm/vanta/dist/vanta.net.min.js",
  //     type: "text/javascript",
  //   },
  // ],
// });
onMounted(() => {

  VANTA.NET({
    el: "#element",
    mouseControls: true,
    touchControls: true,
    gyroControls: false,
    scale: 1.00,
    scaleMobile: 1.00,
    color: 0x2745A1,
    backgroundColor: 0x16162d,
    points: 14.00,
    maxDistance: 25.00,
    spacing: 16.00
  })
})


</script>

<style lang="scss">
.background {
  // filter: blur(3px);
  // position: absolute;
  background: var(--bg);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  position: fixed;
}
</style>