<template>
  <div class="blockquote">
    <div class="blockquote__content">
      <p class="blockquote__quote">"{{ body }}"</p>
      <p class="blockquote__author">{{ title }}</p>
    </div>
  </div>
</template>

<script setup>
const props = defineProps({
  title: {
    type: String,
  },
  body: {
    type: String,
  },
});
</script>

<style lang="scss">
.blockquote {
  display: flex;
  justify-content: center;
  &__content {
    display: flex;
    flex-direction: column;
    // align-items: center;
    background-color: var(--blue);
    padding: 16px;
    border-radius: 16px;
    // width: 40%;
  }

  &__quote {
    font-size: 20px;
    font-style: italic;
    color: white;
    align-self: center;
  }
  &__author {
    padding-top: 16px;
    align-self: flex-end;
    color: white;
  }
}
</style>