<template>
  <div class="blocks">
    <VNode />
  </div>
</template>

<script setup scoped>
import Blockquote from '@/components/Blockquote';
import Wysiwyg from '@/components/Wysiwyg';
import Image from '@/components/Image';
import Slider from '@/components/Slider';
import { h } from 'vue'
const props = defineProps({
  blocks: {
    type: Array,
  },
})
const blocksArray = reactive([])

props.blocks.forEach(element => {
  if (element.__component == 'shared.rich-text') {
    blocksArray.push(h(Wysiwyg, {
      content: element.body
    }))
  }
  if (element.__component == 'shared.quote') {
    blocksArray.push(h(Blockquote, {
      title: element.title, body: element.body
    }))
  }
  if (element.__component == 'shared.media' && element.file.data) {
    blocksArray.push(h(Image, {
      url: element.file
    }))
  }
  if (element.__component == 'shared.slider' && element.files.data) {
    blocksArray.push(h(Slider, {
      files: element.files
    }))
  }
});

const VNode = () => blocksArray

</script>

<style lang="scss">
.blocks {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
</style>