<template>
  <div class="footer container">
    <div class="footer__content">
      <div class="footer__company">
        <a href="https://fasie.ru/" target="_blanc"><img src="/fond.png" alt=""></a>
        <span class="footer__text info">{{ $t('footer.fond') }}</span>
      </div>
      <div class="footer__container">
        <div class="footer__list">
          <p class="footer__text strong">{{ $t('footer.sites') }}</p>
          <a href="https://global-rc.ru" target="_blanc" class="footer__text link">global-rc.ru</a>
          <a href="https://interpolymech.com" target="_blanc" class="footer__text link">interpolymech.com</a>
        </div>
      </div>
      <div class="footer__list">
        <span class="footer__text strong">
          {{ $t('footer.social') }}
        </span>
        <div class="footer__list row">
          <a target="_blank" href="https://www.youtube.com/channel/UCiZVFE4cmU80WolmdBPQ6vw" class="footer__box">
            <div class="footer__icon">
              <Icon iconName="yotube" />
            </div>
          </a>
          <a target="_blank" href="https://rutube.ru/channel/26397650/" class="footer__box">
            <div class="footer__icon">
              <Icon iconName="rutube" />
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="footer__copyright">© {{actualYear}} {{ $t('footer.rights') }} {{ version }}</div>
    <p></p>
  </div>
</template>

<script setup>
const version = reactive('1.7.8')

const actualYear = computed(() => {
  let date = new Date();
  return date.getFullYear()
})
</script>


<style lang="scss" scoped>
.footer {
  $this: &;
  display: block;
  // margin-top: 80px;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (max-width: $m) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  @media (max-width: $xs) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &__container {
    display: flex;

  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &.row {
      flex-direction: row;
      gap: 16px;
    }

    @media (max-width: $xs) {
      align-items: center;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 16px;

    img {
      height: 96px;

      @media (max-width: $m) {
        height: 96px;
      }
    }

    @media (max-width: $xs) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__company {
    display: flex;
    gap: 16px;

    @media (max-width: $m) {
      gap: 8px;
    }
  }

  &__text {
    color: white;
    font-size: 16px;

    &.strong {
      font-size: 20px;
    }

    &.info {
      max-width: 444px;

      @media (max-width: $m) {
        max-width: 300px;
      }

      @media (max-width: $xs) {
        display: none;
      }
    }

    &.link {
      &:hover {
        color: var(--red);
      }
    }
  }

  &__copyright {
    width: 100%;
    display: flex;
    color: white;
    position: relative;
    justify-content: center;
    padding-top: 40px;
    font-size: 14px;
    line-height: 1;

    // &:before {
    //   content: "";
    //   left: 0;
    //   right: 0;
    //   bottom: 40px;
    //   margin: 0 auto;
    //   width: 50%;
    //   height: 1px;
    //   background-color: var(--red);
    //   position: absolute;
    // }
  }

  &__box {
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;

    @media (max-width: $m) {
      width: 32px;
      height: 32px;
    }

    &:hover {
      background-color: var(--red);
    }
  }

  &__icon {
    width: 32px;
    height: 32px;
    color: white;

    @media (max-width: $m) {
      width: 24px;
      height: 24px;
    }
  }

}
</style>