<template>
  <div class="header">
    <div ref="target" class="header__menu">
      <button class="header__burger" @click="opened = !opened" :class="{ opened: opened }">
        <svg width="80" height="80" viewBox="0 0 100 100">
          <path class="header__line line1"
            d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
          <path class="header__line line2" d="M 20,50 H 80" />
          <path class="header__line line3"
            d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
        </svg>
      </button>
      <div class="header__content" :class="{ 'opened': opened }">
        <div class="header__user" v-if="userName.length">{{ userName }}</div>
        <div></div>
        <div class="header__links">
          <nuxt-link @click="opened = false" class="header__link" :to="localePath('/')">
            <span>{{ $t('menu.main') }}</span>
          </nuxt-link>
          <nuxt-link @click="opened = false" class="header__link" :to="localePath('/articles')">
            <span>{{ $t('menu.articles') }}</span>
          </nuxt-link>
          <nuxt-link @click="opened = false" class="header__link"
            :to="localePath(`/articles/tarifs${localeValue == 'ru' ? '' : '-' + localeValue}`)">
            <span>{{ $t('menu.tariff') }}</span>
          </nuxt-link>
          <nuxt-link @click="opened = false" class="header__link"
            :to="localePath(`/articles/team${localeValue == 'ru' ? '' : '-' + localeValue}`)">
            <span>{{ $t('menu.team') }}</span>
          </nuxt-link>
          <nuxt-link @click="opened = false" class="header__link"
            :to="localePath(`/articles/support${localeValue == 'ru' ? '' : '-' + localeValue}`)">
            <span>{{ $t('menu.support') }}</span>
          </nuxt-link>
          <a target="_blanc" class="header__link" v-if="userLogin.length > 0" href="/dss/">
            <span>{{ $t('menu.admin') }}</span>
          </a>
          <div @click="userAction" class="header__link relative">
            <span>{{ userLogin.length ? $t('menu.logout') : $t('menu.login') }}</span>
          </div>
          <div class="header__language-selector" ref="languageTarget">
            <button @click="languagesOpened = true" class="header__language-button">
              <img :src="languages.find(el => el.code == activeLanguage).flag">
              <div></div>
            </button>
            <div class="header__languages" :class="{ active: languagesOpened }">
              <div @click="setLanguage(language.code)" class="header__language-item"
                v-for="(language, index) in languages" :key="index">
                <img :src="language.flag">
                <span>{{ language.name }}</span>
              </div>
            </div>
          </div>
        </div>
        <nuxt-link :title="locale == 'ru-Ru' ? 'СППР РегИИум' : 'AI DSS Regium'" :to="localePath('/')">
          <img class="header__logo" v-if="locale == 'ru-Ru'" src="/logo-white-full.png">
          <img class="header__logo" v-else src="/logo-white-full-en.png">
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script setup>
const route = useRoute();
import { onClickOutside } from '@vueuse/core'
const i18 = useI18n()
const { locale, setLocale } = useI18n()
const activeLanguage = useCookie("language");
const localePath = useLocalePath();
const localeValue = ref(i18.locale.value.substring(0, 2))
const opened = ref(false)
const target = ref(null)
const languageTarget = ref(null)
const languagesOpened = ref(false)

const languages = ref([
  {
    code: "ru-Ru",
    name: "Русский",
    flag: '/rus-flag.png'
  },
  {
    code: "en-US",
    name: "English",
    flag: '/us-flag.png'
  },
  {
    code: "es-ES",
    name: "Español",
    flag: '/span-flag.png'
  },
  {
    code: "pt-Pt",
    name: "Português",
    flag: '/port-flag.png'
  },
  {
    code: "fr-Fr",
    name: "Français",
    flag: '/fr-flag.png'
  },
])

onClickOutside(target, (event) => {
  if (opened.value) {
    opened.value = false
  }
})
onClickOutside(languageTarget, (event) => {
  if (languagesOpened.value) {
    languagesOpened.value = false
  }
})

const userLogin = ref('')
const userName = ref('')

const url = (process.dev ? 'adviser.lmsoftware.ru' : location.origin.split('//')[1])

const userAction = async () => {
  if (userLogin.value.length) {
    useFetch(`https://sso.${url}/api/logout`, {
      method: 'POST',
      credentials: "include",
      body: {
        "targetURL": `${location.origin}`
      }
    }).then(() => {
      userLogin.value = ''
      userName.value = ''
    })
  } else {
    await navigateTo(`https://sso.${url}/`, {
      external: true,
    })
  }
}

const { data: user } = await useFetch(`https://sso.${url}/api/state`, {
  method: 'GET',
  credentials: "include",
})

if (user.value.data.username.length) {
  userLogin.value = user.value.data.username
  useFetch(`https://sso.${url}/api/user/info`, {
    method: 'GET',
    credentials: "include",
  }).then((response) => {
    userName.value = response.data.value.data.display_name
  })
}

const setLanguage = (code) => {
  activeLanguage.value = code
  languagesOpened.value = false
  localeValue.value = code.substring(0, 2)
  setLocale(code)
}

watch(opened, (state) => {
  if (state) {
    document.querySelector("body").classList.add("scroll-lock")
  } else {
    document.querySelector("body").classList.remove("scroll-lock")
  }
})
</script>

<style lang="scss" scoped>
.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 32px;


  @media (max-width: $mobile) {
    padding: 8px;
  }

  &__burger {
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    z-index: 10;

    &>svg {
      transition: transform 0.3s ease;
    }

    &:hover {
      &>svg {
        transform: scale(1.1);
      }
    }

    @media (max-width: $xs) {
      &:hover {
        &>svg {
          transform: none;
        }
      }
    }

    &.opened {
      .line1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 4;
      }

      .line2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
        stroke-width: 4;
      }

      .line3 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 4;
      }
    }
  }

  &__line {
    fill: none;
    stroke: white;
    stroke-width: 4;
    transition: stroke 0.5s ease, stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);

    &.line1 {
      stroke-dasharray: 60 207;
      stroke-width: 4;
    }

    &.line2 {
      stroke-dasharray: 60 60;
      stroke-width: 4;
    }

    &.line3 {
      stroke-dasharray: 60 207;
      stroke-width: 4;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-direction: column;
  }


  &__logo {
    width: 200px;
    height: 66px;
  }

  &__language-selector {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__language-button {
    height: 32px;
    display: flex;
    align-items: center;
    position: relative;
    

    &>div {
      position: absolute;
      right: -16px;
      // height: 4px !important;
      border: 6px solid transparent; 
      border-top: 8px solid white;
    }

    &>img {
      width: 32px;
    }
  }

  &__language-item {
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 8px;
    padding: 4px;
    border-radius: 4px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgb(0, 0, 0, 0.1);
    }

    &>img {
      width: 32px;
    }

    &>span {
      color: black;
    }
  }

  &__languages {
    z-index: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 4px;
    padding: 4px;
    // transform: translateX(0);
    transform: translateY(0);
    transition: transform 0.3s ease, opacity 0.3s ease;
    left: -50px;
    width: 140px;

    &.active {
      z-index: 999;
      opacity: 1;
      pointer-events: all;
      // transform: translateX(-160px);
      transform: translateY(130px);

      @media (max-width: $xs) {
        transform: translateY(-130px);
      }
    }
  }

  &__content {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.9);
    background-color: #16162d;
    padding: 48px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    right: 0;
    width: 500px;
    top: 0;
    opacity: 0;
    position: absolute;
    transform: translateX(100px);
    transition: transform 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
    pointer-events: none;

    @supports (-webkit-touch-callout: none) {
      height: -webkit-fill-available;
    }

    @media (max-width: $xs) {
      width: 100vw;
    }

    &.opened {
      transform: translateX(0);
      opacity: 1;
      pointer-events: all;
    }
  }

  &__user {
    position: absolute;
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 30px;
    color: white;
    font-family: "Inter", sans-serif;
    left: 32px;
    top: 32px;
  }

  &__link {
    background-color: #16162d;
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 56px;
    text-decoration: none;
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      &::before {
        opacity: 1;
      }
    }

    &>span {
      font-size: 30px;
      position: relative;
      z-index: 8;
      color: white;
      font-family: "Inter", sans-serif;
    }

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      width: 320px;
      height: 320px;
      background: linear-gradient(var(--blue), var(--red));
      top: calc(50% - 160px);
      left: calc(50% - 160px);
      transition: opacity 0.5s ease;
      animation: animate 3s linear infinite;
      z-index: 0;
      opacity: 0;
    }

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      background-color: #16162d;
      inset: 4px;
      transition: 1s;
    }

    &.green {
      color: var(--green);
    }

    &:hover {
      color: var(--red);
    }
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
</style>
