<template>
  <svg class="icon">
    <use :href="`/sprite.svg#${iconName}`" />
  </svg>
</template>

<script setup>
const props = defineProps({
  iconName: {
    type: String,
  },
});
</script>
<style lang="scss" scoped>
.icon {
  display: block;
  width: 100%;
  height: 100%;
}
</style>
