<template>
  <div class="image">
    <img :src="imageUrl" alt="">
  </div>
</template>

<script setup>
const config = useRuntimeConfig();
const props = defineProps({
  url: {
    type: Object,
  },
});

const imageUrl = computed(() => {  
  return config.public.API_URL + props.url.data.attributes.formats.large.url
})
</script>

<style lang="scss">
  .image {
    display: flex;
    justify-content: center;
  }
</style>