<template>
  <div class="pagination">
    <button v-if="currentPage > 1" @click="$emit('change', currentPage - 1)" class="pagination__button control">Пред</button>
    <button class="pagination__button" :class="{ 'active': pageNumber == currentPage }" v-for="pageNumber in totalPages"
      :key="pageNumber" @click="$emit('change', pageNumber)">{{ pageNumber }}</button>
    <button v-if="currentPage !== totalPages" @click="$emit('change', currentPage + 1)" class="pagination__button control">След</button>
  </div>
</template>

<script setup>
defineProps({
  totalPages: Number,
  currentPage: Number
})
defineEmits(['change'])
</script>

<style lang="scss">
.pagination {
  display: flex;
  gap: 8px;

  &__button {
    font-size: 18px;
    border: 1px solid var(--blue);
    // border-radius: 8px;
    width: 48px;
    height: 48px;
    color: var(--blue);
    transition: background-color 0.5s ease, color 0.5s ease;

    &:hover {
      background-color: var(--blue);
      color: white;
    }

    &.active {
      background-color: var(--blue);
      color: white;
    }

    &.control {
      width: unset;
      padding: 0 16px;
      text-decoration: dashed;
      // border: unset;
      // border-bottom: 1px solid var(--blue);
    }
  }


}
</style>