<template>
  <div class="slider">
    <Swiper :modules="[SwiperAutoplay, SwiperEffectCreative, SwiperNavigation]" :slides-per-view="1" :loop="true"
      :effect="'creative'" :navigation="{
        prevEl: prev,
        nextEl: next,
      }" :autoplay="{
  delay: 8000,
  disableOnInteraction: true,
}" :creative-effect="{ prev: { shadow: false, translate: ['-100%', 0, -1], }, next: { translate: ['100%', 0, 0], }, }">
      <SwiperSlide v-for="slide in images" :key="slide">
        <img :src="slide" alt="">
      </SwiperSlide>
      <div class="slider__controls">
        <button ref="prev" class="slider__button">
          <div class="slider__icon">
            <Icon iconName="arrow" />
          </div>
        </button>
        <button ref="next" class="slider__button">
          <div class="slider__icon reverse">
            <Icon iconName="arrow" />
          </div>
        </button>
      </div>
    </Swiper>
  </div>
</template>

<script setup>
const config = useRuntimeConfig();
const props = defineProps({
  files: {
    type: Object,
  },
});

const prev = ref(null);
const next = ref(null);

const images = computed(() => {
  const imagesArray = []
  props.files.data.forEach(element => {
    imagesArray.push(config.public.API_URL + element.attributes.formats.medium.url);
  });
  return imagesArray
})
</script>

<style lang="scss" >
.slider {
  display: flex;
  justify-content: center;

  &__controls {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: calc(50% - 32px);
    z-index: 100;

    @media (max-width: $xs) {
      top: calc(50% - 20px);
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    background-color: var(--blue);

    @media (max-width: $xs) {
      width: 40px;
      height: 40px;
    }
  }

  &__icon {
    width: 32px;
    height: 32px;
    color: white;

    @media (max-width: $xs) {
      width: 16px;
      height: 16px;
    }

    &.reverse {
      transform: rotate(180deg);
    }
  }
  .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 2/1;

  &>img {
    width: 100%;
    object-fit: cover;
  }
}

.swiper-wrapper {
  width: 100vw;
}

.swiper {
  position: relative;
}
}


</style>