<template>
  <VNode />
</template>

<script setup scoped>
import { h } from 'vue'
import md from "markdown-it";
const mdRenderer = md();
const props = defineProps({
  content: {
    type: String,
  },
})
const VNode = () => h('div', { class: 'wysiwyg', innerHTML: props.content[1] == 'd' ? props.content : mdRenderer.render(props.content) })
// const VNode = () => h('div', { class: 'wysiwyg', innerHTML: mdRenderer.render(props.content) })

</script>

<style lang="scss">
.wysiwyg {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: "Inter", sans-serif;

  &__person {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 32px;

    &:nth-child(even) {
      flex-direction: row-reverse;
      margin: 32px 0
    }

    @media (max-width: $mobile) {
      flex-direction: column !important;
      // justify-content: flex-start;
      // align-items: center;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 400px;

    @media (max-width: $mobile) {
      max-width: unset;
    }


  }

  iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;

    @media (max-width: $mobile) {
      aspect-ratio: 1/1;
    }
  }

  h1 {
    font-weight: 600;
    font-size: 38px;
  }

  h2 {
    font-weight: 600;
    font-size: 30px;
  }

  h3 {
    font-weight: 600;
    font-size: 24px;
  }

  h4 {
    font-weight: 600;
    font-size: 20px;
  }

  h5 {
    font-weight: 600;
    font-size: 16px;
  }

  p {
    font-size: 16px;
  }

  a {
    color: white;
    text-decoration: underline;
    text-underline-offset: 4px;

    &:hover {
      color: var(--red);
    }
  }

  strong {
    font-weight: 600;
  }



  &>p {
    &>img[alt~="left"] {
      float: left;
      // margin: 20px 30px 20px 0;
      margin-right: 30px;

      @media (max-width: $mobile) {
        margin-right: 0;
        float: unset;
        width: 100%;
        margin: 10px 0;
      }
    }

    &>img[alt~="right"] {
      float: right;
      margin-left: 30px;

      @media (max-width: $mobile) {
        margin-left: 0;
        float: unset;
        width: 100%;
        margin: 10px 0;
      }
    }

    &>img {
      @media (max-width: $mobile) {
        width: 100%;
        margin: 10px 0;
      }
    }

  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style-type: disc;
    margin-left: 20px;
  }

  li {}


}
</style>