@import url("./reset.scss");
@import url("./fonts.scss");
@import url("./variables.scss");

body {    
  font-family: "Roboto", sans-serif;
  color: var(--text);
  font-size: 16px;
  overflow-y: scroll;
  position: relative;
  overflow-x: hidden;
  &.scroll-lock {
    @media (max-width: $mobile) {
      overflow: hidden;
    }
  }
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  // @media (max-width: $xs) {
  //   padding: 0 16px;
  // }
}

.title {
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: var(--text);

  @media (max-width: $mobile) {
    font-size: 20px;
    line-height: 24px;
  }
}
.text {
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: var(--text);
  @media (max-width: $mobile) {
    font-size: 16px;
    line-height: 18px;
  }
}

.text-center {
  text-align: center;
}

.circle-bg {
  width: 100%;
  aspect-ratio: 1/1;
  height: 100%;
  position: absolute;
  background-color: var(--transparent);
  border-radius: 100%;
  z-index: -1;
  top: 0;
}

.padding {
  padding-left: 220px !important;
  padding-right: 220px !important;
  @media (max-width: $l) {
    padding-left: 120px !important;
    padding-right: 120px !important;
  }
  @media (max-width: $m) {
    padding-left: 32px !important;
    padding-right: 32px !important;
  }
  
  @media (max-width: $mobile) {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}

.headline {
  font-size: 40px;
  font-weight: 600;
  color: var(--blue);
  padding-bottom: 40px;
  @media (max-width: $xs) {
    font-size: 30px;
    padding-bottom: 32px;
  }
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
