:root {
  --green: #10c177;
  --green-dark: #053320;
  --bg: #16162d;
  --red2: #ff0000;
  --orange: #fa824c;
  --blue: #2745A1;
  --blue-7: rgba(20, 73, 207, 0.6);
  
  --white-7: rgba(255, 255, 255, 0.7);
  --gray: #bac3d3;
  --gray-2: #4F4F4F;
  --gray-5: rgb(186, 195, 211, 0.5);
  --gray-7: rgb(186, 195, 211, 0.7);
  --black: #181e04;
  --black-2: rgb(24, 30, 4, 0.2);
  --black-5: rgb(24, 30, 4, 0.5);
  --black-7: rgb(24, 30, 4, 0.7);
  --g: #ba9217;
  --g2: #a11e5d;
  --g3: #fcc335;
  --g4: #23a5b8;
  --с1: #755812;
  --с2: #66133B;
  --с3: #004959;
  --z1: #3b2c09;
  --z2: #003a47;




  --text: #E6E6E6;
  --text-black: #111636;
  --red: #f15656;
  --transparent: #052C6566;
  --color-1: #5A99F6;
  --color-2: #3E7CB5;
  --color-3: #325890;
  --color-4: #355A7D;
  --color-5: #1C3459;
  --color-6: #111636;
  --gray-6: #F2F2F2;
  --additional: #96979B;
  --white: #ffffff;
}