<template>
  <div class="page">
    <div class="page__bg"></div>
    <header class="page__header">
      <Header />
    </header>
    <main class="page__main container">
      <slot />
    </main>
    <footer class="page__footer">
      <Footer />
    </footer>

  </div>
</template>

<style lang="scss" scoped>
.page {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column; 



  // @supports (-webkit-touch-callout: none) {

  //   height: -webkit-fill-available;

  // }

  @media (max-width: $mobile) {
    overflow: hidden;
  }

  &__bg {
    top: 0;
    position: fixed;
    background-image: url('/bg.jpg');
    // background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 100vh;
  }

  &__main {
    flex-grow: 1;
    position: relative;
    padding-bottom: 64px;
  }

  &__header {
    position: sticky;
    top: 0;
    z-index: 100;
  }

  &__footer {
    position: relative;
    z-index: 1;
    background-color: var(--transparent);
  }


}
</style>