<template>
  <div class="page">
    <div class="page__bg">
      <Background />
    </div>
    <header class="page__header">
      <Header />
    </header>
    <main class="page__main">
      <slot />
    </main>
    <footer class="page__footer">
      <Footer />
    </footer>

  </div>
</template>

<style lang="scss" scoped>
.page {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  // overflow: hidden;

  // @supports (-webkit-touch-callout: none) {

  //   height: -webkit-fill-available;

  // }

  @media (max-width: $mobile) {
    overflow: hidden;
    background-color: var(--bg);
  }

  &__main {
    flex-grow: 1;
    position: relative;
    // padding-top: 64px;
    padding-bottom: 64px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  &__header {
    position: sticky;
    top: 0;
    z-index: 100;

  }

  &__bg {
    @media (max-width: $mobile) {
      display: none;
    }
  }

  &__footer {
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-color: var(--transparent);
  }
}
</style>