<template>
  <div class="main-page">
    <div class="main-page__section" v-if="pageData.data.attributes.first">
      <MainFirst :componentData="pageData.data.attributes.first" />
    </div>
    <div class="main-page__section" v-if="pageData.data.attributes.quotes.length">
      <div class="main-page__desktop">
        <MainQuotes :componentData="pageData.data.attributes.quotes" />
      </div>
      <div class="main-page__mobile">
        <MainQuotesMobile :componentData="pageData.data.attributes.quotes" />
      </div>
    </div>
    <div class="main-page__section" v-if="pageData.data.attributes.base">
      <div class="main-page__desktop">
        <MainBase :componentData="pageData.data.attributes.base" />
      </div>
      <div class="main-page__mobile">
        <MainBaseMobile :componentData="pageData.data.attributes.base" />
      </div>
    </div>
    <div class="main-page__section" v-if="pageData.data.attributes.principle">
      <div class="main-page__desktop">
        <MainPrinciple :componentData="pageData.data.attributes.principle" />
      </div>
      <div class="main-page__mobile">
        <MainPrincipleMobile :componentData="pageData.data.attributes.principle" />
      </div>
    </div>
    <div class="main-page__section padding" v-if="pageData.data.attributes.modelling">
      <div class="main-page__desktop">
        <MainModels :componentData="pageData.data.attributes.modelling" />
      </div>
      <div class="main-page__mobile">
        <MainModelsMobile :componentData="pageData.data.attributes.modelling" />
      </div>
    </div>
    <div class="main-page__section padding" v-if="pageData.data.attributes.qualities">
      <div class="main-page__desktop">
        <MainQualities :componentData="pageData.data.attributes.qualities" />
      </div>
      <div class="main-page__mobile">
        <MainQualitiesMobile :componentData="pageData.data.attributes.qualities" />
      </div>
    </div>
    <div class="main-page__section padding" v-if="pageData.data.attributes.features">
      <div class="main-page__desktop">
        <MainFeatures :componentData="pageData.data.attributes.features" />
      </div>
      <div class="main-page__mobile">
        <MainFeaturesMobile :componentData="pageData.data.attributes.features" />
      </div>
    </div>
    <div class="main-page__section padding" v-if="pageData.data.attributes.integration">
      <div class="main-page__desktop">
        <MainIntegration :componentData="pageData.data.attributes.integration" />
      </div>
      <div class="main-page__mobile">
        <MainIntegrationMobile :componentData="pageData.data.attributes.integration" />
      </div>
    </div>
    <div class="main-page__section padding" v-if="pageData.data.attributes.introduction">
      <div class="main-page__desktop">
        <MainIntroduction :componentData="pageData.data.attributes.introduction" />
      </div>
      <div class="main-page__mobile">
        <MainIntroductionMobile :componentData="pageData.data.attributes.introduction" />
      </div>
    </div>
    <div v-if="false" class="main-page__section padding">
      <div class="main-page__desktop">
        <MainTeam />
      </div>
      <div class="main-page__mobile">
        <MainTeamMobile />
      </div>
    </div>
    <div class="main-page__section padding" v-if="pageData.data.attributes.about">
      <div class="main-page__desktop">
        <MainAbout :componentData="pageData.data.attributes.about" />
      </div>
      <div class="main-page__mobile">
        <MainAboutMobile :componentData="pageData.data.attributes.about" />
      </div>
    </div>
  </div>
</template>

<script setup>
const i18 = useI18n()
const config = useRuntimeConfig();

const locale = ref(i18.locale.value.substring(0, 2))

const { data } = await useAsyncData(
  'global',
  () => $fetch(`api/global?populate=*&locale=${locale.value}`, {
    method: 'GET',
    baseURL: process.dev ? config.public.API_URL : `${location.origin}/cms`
  })
);

const { data: pageData } = await useAsyncData(
  'pageData',
  () => $fetch(`api/main?populate=deep&locale=${locale.value}`, {
    method: 'GET',
    baseURL: process.dev ? config.public.API_URL : `${location.origin}/cms`
  })
);

useHead({
  title: data.value.data.attributes.siteName,
  meta: [
    { name: 'description', content: data.value.data.attributes.siteDescription }
  ],
})
</script>

<style lang="scss">
.main-page {
  display: flex;
  flex-direction: column;
  gap: 400px;

  @media (max-width: $mobile) {
    gap: 96px;
  }


  &__desktop {
    display: block;

    @media (max-width: $mobile) {
      display: none;
    }
  }

  &__mobile {
    display: none;

    @media (max-width: $mobile) {
      display: block;
    }
  }
}
</style>


